<dl class="class">
<dt id="api.Blob">
<em class="property">class </em><code class="descclassname">api.</code><code class="descname">Blob</code><a class="headerlink" href="#api.Blob" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>The result of executing a command on your local system.</p>
<p>Under the hood, a <cite>Blob</cite> is just a string, but we wrap it this way so Tilt knows the difference between a string meant to convey content and a string indicating, say, a filepath.</p>
<p>To wrap a string as a blob, call <code class="docutils literal notranslate"><span class="pre">blob(my_str)</span></code></p>
</dd></dl><dl class="class">
<dt id="api.FastBuild">
<em class="property">class </em><code class="descclassname">api.</code><code class="descname">FastBuild</code><a class="headerlink" href="#api.FastBuild" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>An image that was created with <code class="docutils literal notranslate"><span class="pre">fast_build</span></code></p>
<dl class="method">
<dt id="api.FastBuild.add">
<code class="descname">add</code><span class="sig-paren">(</span><em>src</em>, <em>dest</em><span class="sig-paren">)</span><a class="headerlink" href="#api.FastBuild.add" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Adds the content from <code class="docutils literal notranslate"><span class="pre">src</span></code> into the image at path <code class="docutils literal notranslate"><span class="pre">dest</span></code>.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>src</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; The path to content to be added to the image (absolute, or relative to the location of the Tiltfile).</li>
<li><strong>dest</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; The path in the image where the content should be added.</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><p class="first last"><a class="reference internal" href="#api.FastBuild" title="api.FastBuild"><code class="xref py py-class docutils literal notranslate"><span class="pre">FastBuild</span></code></a></p>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="api.FastBuild.hot_reload">
<code class="descname">hot_reload</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#api.FastBuild.hot_reload" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Setting this on a <code class="docutils literal notranslate"><span class="pre">FastBuild</span></code> image tells Tilt that this container knows how to automatically reload any changes in the container. As a result there is no need to restart it.</p>
<p>This is useful for containers that run something like nodemon or webpack Hot Module Replacement to update running processes quickly.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><code class="docutils literal notranslate"><span class="pre">None</span></code></td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="api.FastBuild.run">
<code class="descname">run</code><span class="sig-paren">(</span><em>cmd</em>, <em>trigger=[]</em><span class="sig-paren">)</span><a class="headerlink" href="#api.FastBuild.run" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Runs <code class="docutils literal notranslate"><span class="pre">cmd</span></code> as a build step in the image.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>cmd</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; A shell command.</li>
<li><strong>trigger</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>], <code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; If the <code class="docutils literal notranslate"><span class="pre">trigger</span></code> argument is specified, the build step is only run on changes to the given file(s).</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><p class="first last"><code class="docutils literal notranslate"><span class="pre">None</span></code></p>
</td>
</tr>
</tbody>
</table>
</dd></dl>

</dd></dl><dl class="function">
<dt id="api.blob">
<code class="descclassname">api.</code><code class="descname">blob</code><span class="sig-paren">(</span><em>contents</em><span class="sig-paren">)</span><a class="headerlink" href="#api.blob" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Creates a Blob object that wraps the provided string. Useful for passing strings in to functions that expect a <cite>Blob</cite>, e.g. <code class="docutils literal notranslate"><span class="pre">k8s_yaml</span></code></p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.decode_json">
<code class="descclassname">api.</code><code class="descname">decode_json</code><span class="sig-paren">(</span><em>json</em><span class="sig-paren">)</span><a class="headerlink" href="#api.decode_json" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Deserializes a given string from JSON to Starlark. Fails if the string can&#x2019;t be parsed as JSON</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">Dict</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-data docutils literal notranslate"><span class="pre">Any</span></code>], <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-data docutils literal notranslate"><span class="pre">Any</span></code>]]</td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.default_registry">
<code class="descclassname">api.</code><code class="descname">default_registry</code><span class="sig-paren">(</span><em>registry</em><span class="sig-paren">)</span><a class="headerlink" href="#api.default_registry" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Specifies that any images that Tilt builds should be renamed so that they have the specified docker registry.</p>
<p>This is useful if, e.g., a repo is configured to push to Google Container Registry, but you want to use Amazon Container Registry instead, without having to edit a bunch of configs. For example, <cite>default_registry(&#x201C;gcr.io/myrepo&#x201D;)</cite> would cause <cite>docker.io/alpine</cite> to be rewritten to <cite>gcr.io/myrepo/docker.io_alpine</cite></p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>registry</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; The registry that all built images should be renamed to use.</td>
</tr>
</tbody>
</table>
<p>Images are renamed following these rules:
1. Replace <cite>/</cite> and <cite>@</cite> with <cite>_</cite>.
2. Prepend the value of <cite>registry</cite> and a <cite>/</cite>.</p>
<p>e.g., with <cite>default_registry(&#x2018;gcr.io/myorg&#x2019;)</cite>, <cite>docker.io/busybox</cite> becomes <cite>gcr.io/myorg/docker.io_busybox</cite>.</p>
<p>(Note: this logic is currently crude, on the assumption that development image names are ephemeral and unimportant. <a class="reference external" href="https://github.com/windmilleng/tilt/issues">Please let us know</a> if they don&#x2019;t suit you!)</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><code class="docutils literal notranslate"><span class="pre">None</span></code></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.docker_build">
<code class="descclassname">api.</code><code class="descname">docker_build</code><span class="sig-paren">(</span><em>ref</em>, <em>context</em>, <em>build_args={}</em>, <em>dockerfile=&apos;Dockerfile&apos;</em>, <em>dockerfile_contents=&apos;&apos;</em><span class="sig-paren">)</span><a class="headerlink" href="#api.docker_build" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Builds a docker image.</p>
<p>Note that you can&#x2019;t set both the <cite>dockerfile</cite> and <cite>dockerfile_contents</cite> arguments (will throw an error).</p>
<p>Example: <code class="docutils literal notranslate"><span class="pre">docker_build(&apos;myregistry/myproj/backend&apos;,</span> <span class="pre">&apos;/path/to/code&apos;)</span></code> is roughly equivalent to the call <code class="docutils literal notranslate"><span class="pre">docker</span> <span class="pre">build</span> <span class="pre">/path/to/code</span> <span class="pre">-t</span> <span class="pre">myregistry/myproj/backend</span></code></p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>ref</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; name for this image (e.g. &#x2018;myproj/backend&#x2019; or &#x2018;myregistry/myproj/backend&#x2019;). If this image will be used in a k8s resource(s), this ref must match the <code class="docutils literal notranslate"><span class="pre">spec.container.image</span></code> param for that resource(s).</li>
<li><strong>context</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; path to use as the Docker build context.</li>
<li><strong>build_args</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">Dict</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; build-time variables that are accessed like regular environment variables in the <code class="docutils literal notranslate"><span class="pre">RUN</span></code> instruction of the Dockerfile. See <a class="reference external" href="https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg">the Docker Build Arg documentation</a></li>
<li><strong>dockerfile</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; path to the Dockerfile to build</li>
<li><strong>dockerfile_contents</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a>]) &#x2013; raw contents of the Dockerfile to use for this build</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><p class="first last"><code class="docutils literal notranslate"><span class="pre">None</span></code></p>
</td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.fail">
<code class="descclassname">api.</code><code class="descname">fail</code><span class="sig-paren">(</span><em>msg</em><span class="sig-paren">)</span><a class="headerlink" href="#api.fail" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Raises an error that cannot be intercepted. Can be used anywhere in a Tiltfile.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><code class="docutils literal notranslate"><span class="pre">None</span></code></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.fast_build">
<code class="descclassname">api.</code><code class="descname">fast_build</code><span class="sig-paren">(</span><em>img_name</em>, <em>dockerfile_path</em>, <em>entrypoint=&apos;&apos;</em><span class="sig-paren">)</span><a class="headerlink" href="#api.fast_build" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Initiates a docker image build that supports <code class="docutils literal notranslate"><span class="pre">add</span></code> s and <code class="docutils literal notranslate"><span class="pre">run</span></code> s, and that uses a cache for subsequent builds.</p>
<p>See the <a class="reference external" href="https://docs.tilt.dev/fast_build.html">fast build documentation</a>.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><a class="reference internal" href="#api.FastBuild" title="api.FastBuild"><code class="xref py py-class docutils literal notranslate"><span class="pre">FastBuild</span></code></a></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.filter_yaml">
<code class="descclassname">api.</code><code class="descname">filter_yaml</code><span class="sig-paren">(</span><em>yaml</em>, <em>labels=None</em>, <em>name=None</em>, <em>namespace=None</em>, <em>kind=None</em>, <em>api_version=None</em><span class="sig-paren">)</span><a class="headerlink" href="#api.filter_yaml" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Call this with a path to a file that contains YAML, or with a <code class="docutils literal notranslate"><span class="pre">Blob</span></code> of YAML.
(E.g. it can be called on the output of <code class="docutils literal notranslate"><span class="pre">kustomize</span></code> or <code class="docutils literal notranslate"><span class="pre">helm</span></code>.)</p>
<p>Captures the YAML entities that meet the filter criteria and returns them as a blob;
returns the non-matching YAML as the second return value.</p>
<p>For example, if you have a file of <em>all</em> your YAML, but only want to pass a few elements to Tilt:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="c1"># extract all YAMLs matching labels &quot;app=foobar&quot;</span>
<span class="n">foobar_yaml</span><span class="p">,</span> <span class="n">rest</span> <span class="o">=</span> <span class="n">filter_yaml</span><span class="p">(</span><span class="s1">&apos;all.yaml&apos;</span><span class="p">,</span> <span class="n">labels</span><span class="o">=</span><span class="p">{</span><span class="s1">&apos;app&apos;</span><span class="p">:</span> <span class="s1">&apos;foobar&apos;</span><span class="p">}</span>
<span class="n">k8s_resource</span><span class="p">(</span><span class="s1">&apos;foobar&apos;</span><span class="p">,</span> <span class="n">yaml</span><span class="o">=</span><span class="n">foobar_yaml</span><span class="p">)</span>

<span class="c1"># extract YAMLs of kind &quot;deployment&quot; with metadata.name &quot;baz&quot;</span>
<span class="n">baz_yaml</span><span class="p">,</span> <span class="n">rest</span> <span class="o">=</span> <span class="n">filter_yaml</span><span class="p">(</span><span class="n">rest</span><span class="p">,</span> <span class="n">name</span><span class="o">=</span><span class="s1">&apos;baz&apos;</span><span class="p">,</span> <span class="n">kind</span><span class="o">=</span><span class="s1">&apos;deployment&apos;</span><span class="p">)</span>
<span class="n">k8s_resource</span><span class="p">(</span><span class="s1">&apos;baz&apos;</span><span class="p">,</span> <span class="n">yaml</span><span class="o">=</span><span class="n">baz_yaml</span><span class="p">)</span>
</pre></div>
</div>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>yaml</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>], <a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a>]) &#x2013; Path(s) to YAML, or YAML as a <code class="docutils literal notranslate"><span class="pre">Blob</span></code>.</li>
<li><strong>labels</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Optional</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">dict</span></code>]) &#x2013; return only entities matching these labels. (Matching entities
must satisfy all of the specified label constraints, though they may have additional
labels as well: see the <a class="reference external" href="https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/">Kubernetes docs</a>
for more info.)</li>
<li><strong>name</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Optional</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; Case-insensitive regexp specifying the <code class="docutils literal notranslate"><span class="pre">metadata.name</span></code> property of entities to match</li>
<li><strong>namespace</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Optional</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; Case-insensitive regexp specifying the <code class="docutils literal notranslate"><span class="pre">metadata.namespace</span></code> property of entities to match</li>
<li><strong>kind</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Optional</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; Case-insensitive regexp specifying the kind of entities to match (e.g. &#x201C;Service&#x201D;, &#x201C;Deployment&#x201D;, etc.).</li>
<li><strong>api_version</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Optional</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; Case-insensitive regexp specifying the apiVersion for <cite>kind</cite>, (e.g., &#x201C;apps/v1&#x201D;)</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><p class="first last"></p><p>2-element tuple containing</p>
<ul class="simple">
<li><strong>matching</strong> (<a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a>): blob of YAML entities matching given filters</li>
<li><strong>rest</strong> (<a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a>): the rest of the YAML entities</li>
</ul>
<p></p>
</td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.helm">
<code class="descclassname">api.</code><code class="descname">helm</code><span class="sig-paren">(</span><em>pathToChartDir</em><span class="sig-paren">)</span><a class="headerlink" href="#api.helm" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Run <a class="reference external" href="https://docs.helm.sh/helm/#helm-template">helm template</a> on a given directory that contains a chart and return the fully rendered YAML as a Blob</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>pathToChartDir</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; Path to the directory locally (absolute, or relative to the location of the Tiltfile).</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.k8s_kind">
<code class="descclassname">api.</code><code class="descname">k8s_kind</code><span class="sig-paren">(</span><em>kind</em>, <em>api_version=None</em>, <em>*</em>, <em>image_json_path</em><span class="sig-paren">)</span><a class="headerlink" href="#api.k8s_kind" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Tells Tilt about a k8s kind. Primarily intended for defining where your CRD specifies image names.</p>
<p>(Note the <cite>*</cite> in the signature means <cite>image_json_path</cite> must be passed as a keyword, e.g., <cite>image_json_path=&#x201D;{.spec.image}&#x201D;</cite>)</p>
<p>Example</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="c1"># Fission has a CRD named &quot;Environment&quot;</span>
<span class="n">k8s_yaml</span><span class="p">(</span><span class="s1">&apos;deploy/fission.yaml&apos;</span><span class="p">)</span>
<span class="n">k8s_kind</span><span class="p">(</span><span class="s1">&apos;Environment&apos;</span><span class="p">,</span> <span class="n">image_json_path</span><span class="o">=</span><span class="s1">&apos;{.spec.runtime.image}&apos;</span><span class="p">)</span>
</pre></div>
</div>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>kind</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; Case-insensitive regexp specifying he value of the <cite>kind</cite> field in the k8s object definition (e.g., <cite>&#x201C;Deployment&#x201D;</cite>)</li>
<li><strong>api_version</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Optional</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]) &#x2013; Case-insensitive regexp specifying the apiVersion for <cite>kind</cite>, (e.g., &#x201C;apps/v1&#x201D;)</li>
<li><strong>image_json_path</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]]) &#x2013; Either a string or a list of string containing json path(s) within that kind&#x2019;s definition
specifying images deployed with k8s objects of that type.
This uses the k8s json path template syntax, described <a class="reference external" href="https://kubernetes.io/docs/reference/kubectl/jsonpath/">here</a>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.k8s_resource">
<code class="descclassname">api.</code><code class="descname">k8s_resource</code><span class="sig-paren">(</span><em>name</em>, <em>yaml=&apos;&apos;</em>, <em>image=&apos;&apos;</em>, <em>port_forwards=[]</em>, <em>extra_pod_selectors=[]</em><span class="sig-paren">)</span><a class="headerlink" href="#api.k8s_resource" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Creates a kubernetes resource that tilt can deploy using the specified image.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>name</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; What call this resource in the UI. If <code class="docutils literal notranslate"><span class="pre">image</span></code> is not specified <code class="docutils literal notranslate"><span class="pre">name</span></code> will be used as the image to group by.</li>
<li><strong>yaml</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a>]) &#x2013; Optional YAML. If this arg is not passed, we
expect to be able to extract it from an existing resource
(by looking for a k8s container running the specified <code class="docutils literal notranslate"><span class="pre">image</span></code>).</li>
<li><strong>image</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <a class="reference internal" href="#api.FastBuild" title="api.FastBuild"><code class="xref py py-class docutils literal notranslate"><span class="pre">FastBuild</span></code></a>]) &#x2013; An optional Image. If the image is not passed,
we expect to be able to extract it from an existing resource.</li>
<li><strong>port_forwards</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">int</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">int</span></code>]]) &#x2013; Local ports to connect to the pod. If no
target port is specified, will use the first container port.
Example values: 9000 (connect localhost:9000 to the default container port),
&#x2018;9000:8000&#x2019; (connect localhost:9000 to the container port 8000),
[&#x2018;9000:8000&#x2019;, &#x2018;9001:8001&#x2019;] (connect localhost:9000 and :9001 to the
container ports 8000 and 8001, respectively).</li>
<li><strong>extra_pod_selectors</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">Dict</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>], <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">Dict</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]]]) &#x2013; In addition to relying on Tilt&#x2019;s heuristics to automatically
find K8S resources associated with this resource, a user may specify extra
labelsets to force entities to be associated with this resource. An entity
will be associated with this resource if it has all of the labels in at
least one of the entries specified (but still also if it meets any of
Tilt&#x2019;s usual mechanisms).</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><p class="first last"><code class="docutils literal notranslate"><span class="pre">None</span></code></p>
</td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.k8s_yaml">
<code class="descclassname">api.</code><code class="descname">k8s_yaml</code><span class="sig-paren">(</span><em>yaml</em><span class="sig-paren">)</span><a class="headerlink" href="#api.k8s_yaml" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Call this with a path to a file that contains YAML, or with a <code class="docutils literal notranslate"><span class="pre">Blob</span></code> of YAML.</p>
<p>We will infer what (if any) of the k8s resources defined in your YAML
correspond to Images defined elsewhere in your <code class="docutils literal notranslate"><span class="pre">Tiltfile</span></code> (matching based on
the DockerImage ref and on pod selectors). Any remaining YAML is YAML that Tilt
applies to your k8s cluster independently.</p>
<p>Examples:</p>
<div class="highlight-python notranslate"><div class="highlight"><pre><span></span><span class="c1"># path to file</span>
<span class="n">k8s_yaml</span><span class="p">(</span><span class="s1">&apos;foo.yaml&apos;</span><span class="p">)</span>

<span class="c1"># list of paths</span>
<span class="n">k8s_yaml</span><span class="p">([</span><span class="s1">&apos;foo.yaml&apos;</span><span class="p">,</span> <span class="s1">&apos;bar.yaml&apos;</span><span class="p">])</span>

<span class="c1"># Blob, i.e. `local` output (in this case, script output)</span>
<span class="n">templated_yaml</span> <span class="o">=</span> <span class="n">local</span><span class="p">(</span><span class="s1">&apos;./template_yaml.sh&apos;</span><span class="p">)</span>
<span class="n">k8s_yaml</span><span class="p">(</span><span class="n">templated_yaml</span><span class="p">)</span>
</pre></div>
</div>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>yaml</strong> (<code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>], <a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a>]) &#x2013; Path(s) to YAML, or YAML as a <code class="docutils literal notranslate"><span class="pre">Blob</span></code>.</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><code class="docutils literal notranslate"><span class="pre">None</span></code></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.kustomize">
<code class="descclassname">api.</code><code class="descname">kustomize</code><span class="sig-paren">(</span><em>pathToDir</em><span class="sig-paren">)</span><a class="headerlink" href="#api.kustomize" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Run <a class="reference external" href="https://github.com/kubernetes-sigs/kustomize">kustomize</a> on a given directory and return the resulting YAML as a Blob</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>pathToDir</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; Path to the directory locally (absolute, or relative to the location of the Tiltfile).</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.listdir">
<code class="descclassname">api.</code><code class="descname">listdir</code><span class="sig-paren">(</span><em>directory</em>, <em>recursive=False</em><span class="sig-paren">)</span><a class="headerlink" href="#api.listdir" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Returns all the files at the top level of the provided directory. If <code class="docutils literal notranslate"><span class="pre">recursive</span></code> is set to True, returns all files that are inside of the provided directory, recursively.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>]</td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.local">
<code class="descclassname">api.</code><code class="descname">local</code><span class="sig-paren">(</span><em>cmd</em><span class="sig-paren">)</span><a class="headerlink" href="#api.local" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Runs cmd, waits for it to finish, and returns its stdout as a <code class="docutils literal notranslate"><span class="pre">Blob</span></code></p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.read_file">
<code class="descclassname">api.</code><code class="descname">read_file</code><span class="sig-paren">(</span><em>file_path</em><span class="sig-paren">)</span><a class="headerlink" href="#api.read_file" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Reads file and returns its contents.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>file_path</strong> (<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>) &#x2013; Path to the file locally (absolute, or relative to the location of the Tiltfile).</td>
</tr>
<tr class="field-even field"><th class="field-name">Return type:</th><td class="field-body"><a class="reference internal" href="#api.Blob" title="api.Blob"><code class="xref py py-class docutils literal notranslate"><span class="pre">Blob</span></code></a></td>
</tr>
</tbody>
</table>
</dd></dl><dl class="function">
<dt id="api.read_json">
<code class="descclassname">api.</code><code class="descname">read_json</code><span class="sig-paren">(</span><em>path</em><span class="sig-paren">)</span><a class="headerlink" href="#api.read_json" title="Permalink to this definition">&#xB6;</a></dt>
<dd><p>Reads the file at <cite>path</cite> and deserializes its contents as JSON</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name">
<col class="field-body">
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Return type:</th><td class="field-body"><code class="xref py py-data docutils literal notranslate"><span class="pre">Union</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">Dict</span></code>[<code class="xref py py-class docutils literal notranslate"><span class="pre">str</span></code>, <code class="xref py py-data docutils literal notranslate"><span class="pre">Any</span></code>], <code class="xref py py-class docutils literal notranslate"><span class="pre">List</span></code>[<code class="xref py py-data docutils literal notranslate"><span class="pre">Any</span></code>]]</td>
</tr>
</tbody>
</table>
</dd></dl>
