<script>
ga(function(){
  ga_trackers=[];
  ga.getAll().forEach(function(x,i){
  ga_trackers.push(x.get('name'))});
  ga_trackers.forEach(
  function(gaName){
    ga(gaName + '.require', 'Clearbit', {"mapping":{
      "type":"dimension1",
      "companyName":"dimension2", 
      "companyDomain":"dimension3", 
      "companyIndustry":"dimension4", 
      "companySubIndustry":"dimension5", 
      "companyEmployeesRange":"dimension6", 
      "companyEstimatedAnnualRevenue":"dimension7", 
      "companyAlexaRank":"dimension8",
      "companyCity":"dimension9",
      "companyState":"dimension10",
      "companyCountry":"dimension11",
      "companySicCode":"dimension12",
      "companyTech":"dimension13",
      "companyTags":"dimension14" }
    });
  });
});
</script>
<script async src="https://ga.clearbit.com/v1/ga.js?authorization={{ site.clearbit }}">
</script>
