<form action="https://dev.us10.list-manage.com/subscribe/post?u=b72263e6c9ab9d4f6d6d6564d&amp;id=8ca8b2c971" 
      method="post" 
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
      class="validate ctaSubscribe ctaSubscribe--blog row row--flexStart u-marginBottom2_5 u-hideOnDocsMobile" 
      target="_blank"
      novalidate>
  <div class="col-1of3 u-marginRight0_5">
    <div class="ctaSubscribe-header">Keep up with Developments in Multi-Service Development</div>
  </div>

  <div class="col-1of3">
    <div class="u-marginBottom0_25">
      <label class="ctaSubscribe-label" for="drip-email">
        Get our Newsletter
      </label>
    </div>
    
    <div class="ctaSubscribe-formItem">
	    <input type="email" value="" name="EMAIL" class="inputBox u-heightBrandButton u-marginRight0_75 required email" id="mce-EMAIL" 
             placeholder="me@company.com">
    </div>

    <div id="mce-responses" class="clear">
		  <div class="response" id="mce-error-response" style="display:none"></div>
		  <div class="response" id="mce-success-response" style="display:none"></div>
	  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b72263e6c9ab9d4f6d6d6564d_8ca8b2c971" tabindex="-1" value=""></div>
  </div>

  <div style="align-self: flex-end">
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="brandButton button">
      {% include brandButtonBg.html %}
      <div class="buttonLabel brandButton-text">
        Subscribe
      </div>
    </button>
  </div>
</form>
