<form action="https://www.getdrip.com/forms/438799151/submissions" method="post" data-drip-embedded-form="438799151"
      class="ctaSubscribe ctaSubscribe--blog row row--flexStart u-marginBottom2_5 u-hideOnDocsMobile">
  <div class="col-1of3 u-marginRight0_5">
    <div class="ctaSubscribe-header">Keep up with Developments in Microservice Development</div>
  </div>

  <div class="col-1of3">
    <div class="u-marginBottom0_25">
      <label class="ctaSubscribe-label" for="drip-email">
        Get our Newsletter
      </label>
    </div>
    
    <div class="ctaSubscribe-formItem">
      <input class="inputBox u-heightBrandButton u-marginRight0_75" type="email" id="drip-email" name="fields[email]" value="" />
    </div>
    <div style="display: none;" aria-hidden="true">
      <label for="website">Website</label><br />
      <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
    </div>
  </div>

  <div style="align-self: flex-end">
    <button class="brandButton" type="submit" data-drip-attribute="sign-up-button">
      {% include brandButtonBg.html %}
      <div class="buttonLabel brandButton-text">
        Subscribe
      </div>
    </button>
  </div>
</form>
