<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="u-marginBottomUnit u-textAlignCenter">
      Built with 💖 at Windmill Engineering in NYC
    </div>
    <div class="u-marginBottomUnit u-textAlignCenter">
      {% for link in site.data.footer %}
      {% assign href = link.href %}
      {% if link.landingurl %}
      {% assign href = (href | prepend: site.landingurl) %}
      {% elsif link.docsurl %}
      {% assign href = (href | prepend: site.docsurl) %}
      {% elsif link.blogurl %}
      {% assign href = (href | prepend: site.blogurl) %}
      {% endif %}
      <a class="circleLinkIcon" href="{{href}}">
        {% svg assets/svg/{{link.icon}}.svg alt="{{link.name}}" %}
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
