<footer class="siteFooter2">
  <div class="siteFooter2-links">
    <ul class="siteFooter2-links-navList">
      {% for link in site.data.footer2 %}
        {% assign href = link.href %}
        {% if link.landingurl %}
          {% assign href = (href | prepend: "/" | prepend: site.landingurl) %}
        {% elsif link.docsurl %}
          {% assign href = (href | prepend: "/" | prepend: site.docsurl) %}
        {% elsif link.blogurl %}
          {% assign href = (href | prepend: "/" | prepend: site.blogurl) %}
        {% endif %}
      
        <li class="siteFooter2-links-navItem">
          {% if link.github %}
            <a class="siteFooter2-links-navLink siteFooter2-links-navLink--github" href="{{href}}">
              {{link.name}}
              <span class="siteHeader2-navLink-divider">{% svg assets/svg/github-star.svg class="siteFooter2-links-navLink-svg"%}</span>
              <span>{{link.githubStars}}</span>
            </a>
          {% else %}
            <a class="siteFooter2-links-navLink {% if link.primary %}siteFooter2-links-navLink--primary{% endif %}" href="{{href}}">
              {{link.name}}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="siteFooter2-links-socialList">
      <li class="siteFooter2-links-socialItem">
        <a class="siteFooter2-links-socialLink" href="https://twitter.com/tilt_dev">
          {% svg assets/svg/social-twitter.svg class="siteFooter2-links-socialLink-svg siteFooter2-links-socialLink-svg--twitter"%}
        </a>
      </li>
      <li class="siteFooter2-links-socialItem">
        <a class="siteFooter2-links-socialLink" href="https://slack.k8s.io/">
          {% svg assets/svg/social-slack.svg class="siteFooter2-links-socialLink-svg siteFooter2-links-socialLink-svg--slack"%}
        </a>
      </li>
    </ul>
  </div>
  <p class="siteFooter2-about">Built with 🌈 from New York, Berlin and the <span class="siteFooter2-about-cloud">☁️</span></p>
</footer>
