
{%- if site.optimize_anti_flicker_id -%}
  <!-- 
  Anti-flicker snippet (recommended)  
  https://support.google.com/optimize/answer/7100284
  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'{{ site.optimize_anti_flicker_id }}':true});
  </script>

{% endif %}
