{%- include google-tag-manager-body.html -%}

<header class="siteHeader2">
  <div class="siteHeader2-logoAndMenuButton">
    {% if page.layout == 'landing' %}
    <!-- For the "Guide To App Devs" - /welcome_to_tilt.html -->
    <a class="imageLink imageLink--logo-imagemark" href="{{site.landingurl}}/">
      {% svg assets/svg/logo-imagemark.svg %}
    </a>
    {% elsif page.layout == 'home' %}
    {% svg assets/svg/Tilt-logo.svg class="siteHeader2-logoLink-svg" %}
    {% else %}
    <a class="siteHeader2-logoLink" href="{{site.landingurl}}/">
      {% svg assets/svg/Tilt-logo.svg class="siteHeader2-logoLink-svg" %}
    </a>
    {% endif %}
    <button class="siteHeader2-menuButton" onclick="document.querySelector('.siteHeader2').classList.toggle('has-openMenu')">
      {% svg assets/svg/menu.svg class="siteHeader2-menuSvg" %}
      {% svg assets/svg/x.svg class="siteHeader2-closeSvg" %}
    </button>
  </div>

  <nav class="siteHeader2-nav">
    <ul class="siteHeader2-navList">
      {% for link in site.data.header2 %}
        {% assign href = link.href %}
        {% if link.landingurl %}
          {% assign href = (href | prepend: "/" | prepend: site.landingurl) %}
        {% elsif link.docsurl %}
          {% assign href = (href | prepend: "/" | prepend: site.docsurl) %}
        {% elsif link.blogurl %}
          {% assign href = (href | prepend: "/" | prepend: site.blogurl) %}
        {% endif %}

        {% if link.github %}
          <li class="siteHeader2-navItem">
            <a class="siteHeader2-navLink siteHeader2-navLink--github" href="{{href}}">
              {{link.name}}
              <span class="github-stars">{% svg assets/svg/github-star.svg class="siteHeader2-navLink-svg"%}</span>
              <span>{{link.githubStars}}</span>
            </a>
          </li>
        {% else %}
        <li class="siteHeader2-navItem">
          <a class="siteHeader2-navLink {% if link.primary %}siteHeader2-navLink--primary{% endif %}" href="{{href}}">
            {{ link.name }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
