<head>
  {%- include google-optimize-anti-flicker.html -%}
  {%- include google-tag-manager-head.html -%}
  {%- include google-analytics.html -%}
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% if page.has_slideshow == true %}
    <link rel="stylesheet" href="{{ "/assets/css/slideshow.css" | relative_url }}">
  {% endif %}
  {% if page.has_calendly == true %}
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
  {% endif %}
  {%- feed_meta -%}

  <!-- For Tilt Landing Page Re-Design, via Han's Typekit account (2020-05): -->
  <link rel="stylesheet" href="https://use.typekit.net/bvw8imf.css">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
