<head>
  {%- include google-optimize-anti-flicker.html -%}
  {%- include google-tag-manager-head.html -%}
  {%- include google-analytics.html -%}
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {% if page.has_slideshow == true %}
    <link rel="stylesheet" href="{{ "/assets/css/slideshow.css" | relative_url }}">
  {% endif %}
  {% if page.has_calendly == true %}
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
  {% endif %}
  {% if page.has_calendly_popup == true %}
    <link rel="stylesheet" href="https://assets.calendly.com/assets/external/widget.css">
  {% endif %}
  {%- feed_meta -%}

  <!-- tilt.dev typekit project -->
  <link rel="stylesheet" href="https://use.typekit.net/yii5fqs.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;600&family=Fira+Sans:wght@200&display=swap" rel="stylesheet">
  <script src="/assets/js/links.js" async></script>

  <noscript>
  <style>
  .js-only {
      display:none;
  }
  </style>
  </noscript>
</head>
