<header class="site-header">

  <div class="headerWrapper">
    <a class="imageLink imageLink--logo-wordmark-anim" href="{{site.landingurl}}">
      {% svg assets/svg/logo-wordmark-anim.svg %}
    </a>

    <nav class="siteNav">
      <div class="siteNav-float">
        {% for link in site.data.header %}
        {% assign href = link.href %}
        {% if link.landingurl %}
        {% assign href = (href | prepend: site.landingurl) %}
        {% elsif link.docsurl %}
        {% assign href = (href | prepend: site.docsurl) %}
        {% endif %}
        <a class="headerLink headerLink--{{link.icon}} u-hideOnMobile" href="{{href}}">
          {% svg assets/svg/{{link.icon}}.svg %}
          <span class="headerLink-text">{{link.name}}</span>
        </a>
        {% endfor %}
        
        <div class="u-showOnlyOnMobile">
          <div class="svgButton svgButton--menu">
            <button class="imageButton" onclick="document.querySelector('.siteNav').classList.add('is-open')">
              {% svg assets/svg/menu.svg %}
            </button>
          </div>
          <div class="svgButton svgButton--x">
            <button class="imageButton" onclick="document.querySelector('.siteNav').classList.remove('is-open')">
              {% svg assets/svg/x.svg %}
            </button>
          </div>
        </div>
      </div>

      <div class="siteNav-popout">
        <div class="row row--flexStart">
          {% for link in site.data.header %}
          {% assign href = link.href %}
          {% if link.landingurl %}
          {% assign href = (href | prepend: site.landingurl) %}
          {% elsif link.docsurl %}
          {% assign href = (href | prepend: site.docsurl) %}
          {% endif %}
          <a class="headerLink headerLink--{{link.mobileIcon}} headerLink--mobile" href="{{href}}">
          {% svg assets/svg/{{link.mobileIcon}}.svg %}
          <span class="headerLink-text">{{link.name}}</span>
        </a>
        {% endfor %}
        </div>
      </div>
    </nav>

    
  </div>
</header>
