<section class="modal" data-modal="one" aria-hidden="true">
  <div class="modal-calendly">
    <h2 class="modal-title">
      Schedule a Guide
    </h2>
    <button class="modal-close">{% svg assets/svg/x.svg %}</button>
    <div class="modal-content">
      <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/nick-at-tilt/tilt-onboarding-call?hide_event_type_details=1"
      ></div>
      <div class="modal-content__text">
        <p class="modal-heroText">
          Get help with your Tilt Liftoff.
        </p>
        <p>
          Our Tilt Liftoff program lasts 6 weeks and is completely free for teams that are committed to trying out Tilt.
        </p>
        <ul>
          <li>A weekly meeting with Tilters to guide you through onboarding.</li>
          <li>A dedicated Slack channel with Tilt engineers.</li>
          <li>Pairing sessions to help you draft and evolve your Tiltfile.</li>
          <li>Help from our content strategists on how to talk about and teach Tilt.</li>
        </ul>
        <hr/>
        <p>
          Not sure if a formal program is right for you?
        </p>
        <p>
         Join <a href="https://kubernetes.slack.com/archives/CESBL84MV">#tilt</a> in the Kubernetes Slack (get an <a href="https://slack.k8s.io/">invite</a> if you aren't a member) and come chat with us!
         We’re there Mon-Fri EST business hours.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="Home-cta">
  <div class="Home-cta-option">
    <button
      type="button"
      class="popup-trigger Home-cta-button Home-cta-button--primary gtm-button-schedule-a-demo"
      data-popup-trigger="one"
    >
      Schedule a Guide
    </button>
    <small class="Home-cta-option-text">to help with your Tilt Liftoff</small>
  </div>
  <div class="Home-cta-option">
    <a
      href="https://docs.tilt.dev/install.html"
      class="Home-cta-button gtm-button-download-tilt"
      >Download Tilt</a
    >
    <small class="Home-cta-option-text">we're open source</small>
  </div>
</section>
