---
title: Create a K8s configmap
description: Use a Tilt extension to create a configmap
code: |
  # Load the 'configmap' extension
  load('ext://configmap', 'configmap_create')
  # Create a configmap from a file
  configmap_create('grafana-config', from_file=['grafana.ini=./grafana.ini'])
  # Create a configmap from a dict
  k8s_yaml(configmap_from_dict('app-env', inputs={'HOST': '0.0.0.0', 'PORT': '5000'}))
tags:
- k8s
- configmap
- extensions
release_stage: released
link:
  title: "Extension: configmap"
  href: https://github.com/tilt-dev/tilt-extensions/tree/master/configmap
