---
layout: default
---
{% assign author = site.data.people[page.author] %}

<div class="wrapper wrapper--blog u-marginBottom1_5">
  <div class="blogContent u-marginBottom1_75OnMobile">
    
    {% if page.image %}
    <figure class="blogFeatureImage">
      <img src="/assets/images/{{ page.slug }}/{{ page.image }}">
      {% if page.image_caption %}
      <figcaption>{{page.image_caption}}</figcaption>
      {% endif %}
    </figure>
    {% endif %}

    <div class="blogCredit u-hideOnDocsMobile">
      <div class="u-marginBottom0_75">
        <img class="blogCredit-img" src="/assets/img/{{ page.author }}.jpg">
        <div>Published on <span class="blogCredit-date">{{ page.date | date_to_long_string }}</span></div>
        <div><a href="{{ site.landingurl }}about">{{ author.name }}</a></div>
      </div>
      <div>
        <a class="circleLinkIcon" rel="author"
           href="https://twitter.com/{{ author.twitter }}">
          {% svg assets/svg/twitter.svg alt="Twitter" %}
        </a>
        <a class="circleLinkIcon" rel="author"
           href="https://github.com/{{ author.github }}">
          {% svg assets/svg/github.svg alt="GitHub" %}
        </a>
        <a class="circleLinkIcon" rel="author"
           href="mailto:{{page.author}}@windmill.engineering">
          {% svg assets/svg/email.svg alt="Email" %}
        </a>
      </div>
      
    </div>
    
    <div class="blogBody">
      <h1>{{ page.title }}</h1>

      {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
      {% endif %}

      <div class="blogCredit blogCredit--mobile u-showOnlyOnDocsMobile u-marginBottom1">
        <img class="blogCredit-img" src="/assets/img/{{ page.author }}.jpg">
        <div>Published on <span class="blogCredit-date">{{ page.date | date_to_long_string }}</span></div>
        <div><a href="{{ site.landingurl }}about">{{ author.name }}</a></div>
      </div>
      
      {{ content }}

      {% if page.canonical_url %}
      <hr>

      <p><em>Originally posted on the Windmill Engineering blog on <a href="{{page.canonical_url}}">Medium</a></em></p>
      {% endif %}

      <div class="blogCredit blogCredit--mobile u-showOnlyOnDocsMobile u-marginTop1 u-textAlignCenter">
        <a class="circleLinkIcon" rel="author"
           href="https://twitter.com/{{ author.twitter }}">
          {% svg assets/svg/twitter.svg alt="Twitter" %}
        </a>
        <a class="circleLinkIcon" rel="author"
           href="https://github.com/{{ author.github }}">
          {% svg assets/svg/github.svg alt="GitHub" %}
        </a>
        <a class="circleLinkIcon" rel="author"
           href="mailto:{{page.author}}@windmill.engineering">
          {% svg assets/svg/email.svg alt="Email" %}
        </a>
      </div>
    </div>
  </div>

  {% if site.related_posts.size >= 2 %}
  <h3 class="relatedHeader">Related</h3>
  <div class="relatedPosts row u-marginBottom1">
    {% assign post = site.related_posts[0] %}
    {% include preview.html post=post previewType="related" %}
    {% assign post = site.related_posts[1] %}
    {% include preview.html post=post previewType="related" %}
  </div>
  {% endif %}
    
  {% include cta_subscribe_blog_desktop.html %}
  {% include cta_subscribe_blog_list.html extraClasses="u-showOnlyOnDocsMobile" %}

  {% include cta_docs.html %}
</div>
