---
layout: docs-header
---
{% assign page_href = page.url | slice: 1, page.url.size %}
<div class="Docs-wrapper">
  <header class="Docs-header">
    <nav class="Docs-nav">
      <ul class="Docs-nav-list">
        {% for link in site.data.docs.top %}
          <li class="Docs-nav-list-item">
            <a class="Docs-nav-link Docs-nav-link--desktop{% if page.sidebar == link.active %} is-active{% endif %}" href="{{link.href | escape}}">
              {{link.title | escape}} 
            </a>
            <!-- On mobile, top-level nav goes to a separate page with subnav links -->
            <a class="Docs-nav-link Docs-nav-link--mobile{% if page.sidebar == link.active %} is-active{% endif %}" href="{{link.hrefMobile | escape}}">
              {{link.title | escape}}
            </a>
            {% if link.flair %}
              <div class="Docs-nav-link-flair">{{link.flair | escape}}</div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <form class="Docs-search js-only" action="/search" method="GET">
      <input class="Docs-search-input" type="search" name="q" id="q" placeholder="Search Docs…" />
    </form>
  </header>

  <div class="Docs-body">
    <aside class="Docs-sidebar  Docs-sidebar--defaultLayout">
      <nav class="Docs-subnav">
        <dl class="js-accordion Docs-subnav-list" data-accordion-prefix-classes="Docs-subnav">
        {% for section in site.data.docs.sidebar[page.sidebar] %}
          {% assign pages = section.items %}

          {% if section.default and page_href == '' %}
            {% assign active_section = true %}
          {% else %}
            {% assign active_section = pages | find: "href", page_href %}
          {% endif %}

          {% if active_section %}
            {% assign current_section = section %}
            {% assign current_section_pages = pages %}
          {% endif %}

          <dt class="js-accordion__header Docs-subnav-title" data-accordion-opened="true">
              {{ section.title | escape }}
              {% svg assets/svg/carrot-down.svg %}
          </dt>
          <dd class="js-accordion__panel Docs-subnav-section">
            <ul class="Docs-subnav-section-list">
              {% for page in pages %}
                {% if page.items %}
                  <li class="js-accordion Docs-subnav-section-list-item" data-accordion-prefix-classes="Docs-subnav">
                    <dt class="js-accordion__header Docs-subnav-title" data-accordion-opened="false">
                      {{ page.title | escape }}
                      {% svg assets/svg/carrot-down.svg %}
                    </dt>
                    <dd class="js-accordion__panel Docs-subnav-section">
                      {% assign subpages = page.items %}
                      {% for subpage in subpages %}
                        <li class="Docs-subnav-section-list-item">
                          <a class="Docs-subnav-link{% if page_href == subpage.href %} is-active{% endif %}" href="/{{subpage.href | escape}}">
                            {{ subpage.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </dd>
                  </li>
                {% else %}
                  <li class="Docs-subnav-section-list-item">
                    <a class="Docs-subnav-link{% if page_href == page.href %} is-active{% endif %}" href="/{{page.href | escape}}">
                      {{ page.title | escape }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </dd>
        {% endfor %}
        </dl>
      </nav>
    </aside>
  
    <article class="Docs-content">
      <div class="Docs-content-title">
        <h1>{{ page.title | escape }}</h1>
        {% if page.subtitle %}
        <h2>{{ page.subtitle | escape }}</h2>
        {% endif %}
      </div>

      {{ content }}

      {% if current_section.inSectionNav %}
      <div class="Docs-section-nav" role="navigation" aria-label="Section navigation">
        {% for page in current_section_pages %}
          {% unless page_href == page.href %}
            {% continue %}
          {% endunless %}
          {% unless forloop.first %}
            {% assign prevIndex = forloop.index0 | minus: 1 %}
            {% assign prevPage = current_section_pages[prevIndex] %}
            <a href="/{{ prevPage.href | escape }}"
               class="Docs-section-nav-link"
               aria-label="Previous Section: {{ prevPage.title | escape }}">
              <span class="Docs-section-nav-arrow" aria-hidden="true">←</span>
              {{ prevPage.title | escape }}
            </a>
          {% endunless %}
          {% unless forloop.last %}
            {% assign nextIndex = forloop.index0 | plus: 1 %}
            {% assign nextPage = current_section_pages[nextIndex] %}
            <a href="/{{ nextPage.href | escape }}"
               class="Docs-section-nav-link"
               aria-label="Next Section: {{ nextPage.title | escape }}">
              {{ nextPage.title | escape }}
              <span class="Docs-section-nav-arrow" aria-hidden="true">→</span>
            </a>
          {% endunless %}
        {% endfor %}
      </div>
      {% endif %}
    
      <div class="Docs-footer">
        <div class="Docs-footer-links">
          <a id="scrollToTop" href="#">
            <span role="presentation">↑</span>
            Back to top
          </a>
  
          {% if page.hideEditButton != true %}
          <a class="Docs-editOnGitHub u-hideOnMobile" href="https://github.com/tilt-dev/tilt.build/tree/master/docs/{{page.name}}">
            {% svg assets/svg/github.svg width=16 height=16 role="presentation" %}
            <span class="Docs-editOnGitHub-text">
              Edit on GitHub
            </span>
          </a>
        </div>
        {% endif %}

        {% if page.hideHelpfulForm != true %}
          {% include helpful_form.html %}
        {% endif %}
      </div>
    </article>
  </div>

  <script src="{{ '/assets/js/van11y-accessible-accordion-aria.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/clipboard.min.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/copy-code.js' | relative_url }}" defer></script>
</div>
