---
layout: default
---
{% assign page_href = page.url | slice: 1, page.url.size %}
<div class="wrapper wrapper--docs u-marginBottom1_5">
  <nav class="subnav" aria-label="Most Popular">
    <form action="/search" method="GET">
      <div class="formItem">
        <input type="text" name="q" id="q" placeholder="Search" aria-label="Search Documentation" />
      </div>
    </form>
    <ul class="subnav-links">
      {% for link in site.data.docs.subnav %}
      <li><a class="sidebar-link {% if page_href == link.href %}sidebar-link-active{% endif %}" href="/{{link.href | escape}}">{{link.title | escape}}</a>
      {% endfor %}
    </ul>
  </nav>

  <nav class="sidebar" aria-label="Primary">
    <button class="sidebar-opener u-showOnlyOnDocsMobile"
         onclick="document.querySelector('.sidebar').classList.toggle('is-open')">
      Contents

      {% svg assets/svg/carrot-down.svg %}
    </button>

    <div class="sidebar-contents js-accordion" data-accordion-prefix-classes="nav">
    {% for section in site.data.docs.sidebar %}
      {% if section.include == 'examples' %}
        {% assign pages = site.data.examples %}
      {% else %}
        {% assign pages = section.items %}
      {% endif %}

      {% if section.default and page_href == '' %}
        {% assign active_section = true %}
      {% else %}
        {% assign active_section = pages | find: "href", page_href %}
      {% endif %}

      <h3 class="sidebar-sectionTitle js-accordion__header" {% if active_section %}data-accordion-opened="true"{% endif %}>
        {{ section.title | escape }}
      </h3>

      <ul class="sidebar-sectionList js-accordion__panel">
        {% for page in pages %}
          <li><a class="sidebar-link {% if page_href == page.href %}sidebar-link-active{% endif %}" href="/{{page.href | escape}}">{{page.title | escape}}</a>
        {% endfor %}
      </ul>

    {% endfor %}

    </div>  

  </nav>
  <article class="docsContent">
    {% if page.hideEditButton != true %}
    <a class="editOnGitHub u-hideOnMobile" 
       href="https://github.com/tilt-dev/tilt.build/tree/master/docs/{{page.name}}">
      {% svg assets/svg/github.svg width=16 height=16 %}

      <span class="editOnGitHub-text">
        Edit on GitHub
      </span>
    </a>
    {% endif %}
    
    <h1>{{ page.title | escape }}</h1>
    
    {{ content }}

    {% include helpful_form.html %}
  </article>
  <script src="/assets/js/links.js" async></script>
  <script src="{{ "/assets/js/van11y-accessible-accordion-aria.min.js" | relative_url }}"></script>
</div>
