---
layout: default
---
{% assign page_href = page.url | slice: 1, page.url.size %}
<div class="wrapper wrapper--docs u-marginBottom1_5">
  <nav class="subnav" aria-label="Most Popular">
    <form action="/search" method="GET">
      <div class="formItem">
        <input type="text" name="q" id="q" placeholder="Search" aria-label="Search Documentation" />
      </div>
    </form>
    <ul class="subnav-links">
      {% for link in site.data.docs.subnav %}
      <li><a class="sidebar-link {% if page_href == link.href %}sidebar-link-active{% endif %}" href="/{{link.href | escape}}">{{link.title | escape}}</a>
      {% endfor %}
    </ul>
  </nav>

  <nav class="sidebar" aria-label="Primary">
    <button class="sidebar-opener u-showOnlyOnDocsMobile"
         onclick="document.querySelector('.sidebar').classList.toggle('is-open')">
      Contents

      {% svg assets/svg/carrot-down.svg %}
    </button>

    <div class="sidebar-contents">

    {% for section in site.data.docs.sidebar %}
      {% if section.title %}
      <h3 class="sidebar-sectionTitle">{{ section.title | escape }}</h3>
      {% endif %}

      {% if section.include == 'examples' %}
        <ul class="sidebar-sectionList">
          {% for page in site.data.examples %}
            <li><a class="sidebar-link {% if page_href == page.href %}sidebar-link-active{% endif %}" href="/{{page.href | escape}}">{{page.title | escape}}</a>
          {% endfor %}
        </ul>
      {% else %}
        <ul class="sidebar-sectionList">
          {% for page in section.items %}
            <li><a class="sidebar-link {% if page_href == page.href %}sidebar-link-active{% endif %}" href="/{{page.href | escape}}">{{page.title | escape}}</a>
          {% endfor %}
        </ul>
      {% endif %}

    {% endfor %}

    </div>  

  </nav>
  <article class="docsContent">
    <h1>{{ page.title | escape }}</h1>
    
    {{ content }}

    <div class="docsFooter">
    {% include helpful_form.html %}
    <a id="scrollToTop" href="#">
      <span role="presentation">↑</span>
      Back to top
    </a>
    {% if page.hideEditButton != true %}
      <a class="editOnGitHub u-hideOnMobile"
         href="https://github.com/tilt-dev/tilt.build/tree/master/docs/{{page.name}}">
        {% svg assets/svg/github.svg width=16 height=16 alt="GitHub logo" role="presentation" %}
        <span class="editOnGitHub-text">
          Edit on GitHub
        </span>
      </a>
    {% endif %}
    </div>
  </article>
  <script src="/assets/js/links.js" async></script>
</div>
