apiVersion: apps/v1
kind: Deployment
metadata:
  name: tilt-site
spec:
  selector:
    matchLabels:
      app: tilt-site
  template:
    metadata:
      labels:
        app: tilt-site
    spec:
      containers:
      - name: tilt-site
        image: tilt-site
        ports:
        - containerPort: 4000
          name: http
        readinessProbe:
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 2
          exec:
            command:
              - ./healthcheck.sh
---
apiVersion: v1
kind: Service
metadata:
  name: tilt-site
spec:
  selector:
    app: tilt-site
  ports:
  - port: 4000
    targetPort: 4000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: docs-site
spec:
  selector:
    matchLabels:
      app: docs-site
  template:
    metadata:
      labels:
        app: docs-site
    spec:
      containers:
      - name: docs-site
        image: docs-site
        ports:
        - containerPort: 4000
          name: http
        readinessProbe:
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 2
          exec:
            command:
              - ./healthcheck.sh
---
apiVersion: v1
kind: Service
metadata:
  name: docs-site
spec:
  selector:
    app: docs-site
  ports:
  - port: 4000
    targetPort: 4000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-site
spec:
  selector:
    matchLabels:
      app: blog-site
  template:
    metadata:
      labels:
        app: blog-site
    spec:
      containers:
      - name: blog-site
        image: blog-site
        ports:
        - containerPort: 4000
          name: http
        readinessProbe:
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 2
          exec:
            command:
              - ./healthcheck.sh
---
apiVersion: v1
kind: Service
metadata:
  name: blog-site
spec:
  selector:
    app: blog-site
  ports:
  - port: 4000
    targetPort: 4000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sphinx-hacking
spec:
  selector:
    matchLabels:
      app: sphinx-hacking
  template:
    metadata:
      labels:
        app: sphinx-hacking
    spec:
      containers:
      - name: sphinx-hacking
        image: tilt-api
        command:
        - python3
        - -m
        - http.server
        - "4000"
        ports:
        - containerPort: 4000
          name: http
        readinessProbe:
          initialDelaySeconds: 2
          periodSeconds: 5
          timeoutSeconds: 2
          exec:
            command:
              - ./healthcheck.sh
