---
title: Tilt Blog
layout: blog-list
---

<header class="BlogList-header">
  <h2 class="BlogList-header-title">
    Tilting at Cloud-Based Developer Tools.
  </h2>
  <p>
    Thoughts on how to make services easier to run, debug, and collaborate on locally
  </p>
</header>

{% if paginator.previous_page %}
<div class="pagination pagination--top u-maxWidthContent">
   <div class="pagination-previous">
     <span class="pagination-icon">&lt;&nbsp;</span>
     <a class="pagination-link" href="{{ paginator.previous_page_path }}">Newer Posts</a>
   </div>
    
   {% if paginator.next_page %}
   <div class="pagination-next">
     <a class="pagination-link" href="{{ paginator.next_page_path }}">Older Posts</a>
     <span class="pagination-icon">&nbsp;&gt;</span>
   </div>
   {% endif %}
</div>
{% endif %}

{% assign post = paginator.posts[0] %}
{% include preview.html post=post previewType="hero" %}

{% if paginator.posts.size > 1 %}
{% assign post = paginator.posts[1] %}
{% include preview.html post=post previewType="normal" %}
{% endif %}

{% if paginator.posts.size > 2 %}
{% assign post = paginator.posts[2] %}
{% include preview.html post=post previewType="normal" %}

{% include cta_subscribe_blog_list.html %}
{% endif %}

{% for post in paginator.posts offset:3 %}

{% include preview.html post=post previewType="normal" %}

{% endfor %}

<div class="pagination pagination--bottom u-maxWidthContent">
   {% if paginator.previous_page %}
   <div class="pagination-previous">
     <span class="pagination-icon">&lt;&nbsp;</span>
     <a class="pagination-link" href="{{ paginator.previous_page_path }}">Newer Posts</a>
   </div>
   {% else %}
     <div>&nbsp;</div>
   {% endif %}
    
   {% if paginator.next_page %}
   <div class="pagination-next">
     <a class="pagination-link" href="{{ paginator.next_page_path }}">Older Posts</a>
     <span class="pagination-icon">&nbsp;&gt;</span>
   </div>
   {% endif %}
</div>
