@charset "utf-8";

// Legacy Clearfix
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


// Layout
// --------------------------------------------------

// Make the scrollbar always visible so that the header doesn't shift on pagenav
html {
  overflow-y:scroll;
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @extend %clearfix;
}



// Typography
// --------------------------------------------------
body {
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0;
  padding: 0;
}



// HTML Elements
// --------------------------------------------------
img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

blockquote {
  color: $color-grey;
  border-left: 4px solid $color-grey-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

svg {
  overflow: visible;
}

input, textarea {
  box-sizing: border-box;
}
hr {
  margin: $spacing-unit 0;
}



// HTML Elements - Code
// --------------------------------------------------
pre,
code {
  font-family: $mono-font-family;
  font-size: $mono-font-size;
  font-weight: $mono-font-weight;
  line-height: $mono-line-height;
  font-variant-ligatures: none;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: $color-grey-lightest;
}

code {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: $mono-font-size + 2px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

p + div.highlighter-rouge,
p + div[class^="highlight-"],
ul + div.highlighter-rouge {
  // reduce the margin between code blocks and the corresponding paragraph
  margin-top: -($spacing-unit / 2) + 4;
}



// Utility
// --------------------------------------------------

.grey {
  color: $color-grey;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}
