@charset "utf-8";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Make the scrollbar always visible
 * so that the header doesn't shift on pagenav
 */
html {
  overflow-y:scroll;
}


/**
 * Basic styling
 */
body {
  font-weight: $body-font-weight;
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  letter-spacing: 0.02em;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $body-font-weight;
}



/**
 * Links
 */
a {
  color: $color-red;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: $color-red;
}


/**
 * Blockquotes
 */
blockquote {
  color: $color-grey;
  border-left: 4px solid $color-grey-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $mono-font-family;
  font-size: $mono-font-size;
  font-weight: $mono-font-weight;
  line-height: $mono-line-height;
  font-variant-ligatures: none;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: $color-grey-lightest;
}

code {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: $mono-font-size + 2px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @extend %clearfix;
}
.wrapper {
  max-width: $content-width;
}
.wrapper--header {
  max-width: $header-width;

  @include media-query($header-width + $spacing-unit) {
    max-width: $content-width;
  }
}
.wrapper--docs {
  max-width: $header-width;
  display: flex;
  justify-content: space-between;

  @include docs-mobile {
    display: block;
    max-width: $content-width;
  }
}
.wrapper--blog {
  max-width: $blog-width;

  @include docs-mobile {
    max-width: $content-width;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.grey {
  color: $color-grey;
}

svg {
  overflow: visible;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

input, textarea {
  box-sizing: border-box;
}
hr {
  margin: $spacing-unit 0;
}
