 // These resets used to be in base.scss.
 // Since Landing Page + Docs have had style updates,
 // these resets now only apply to the blog.

.wrapper--blog {
  max-width: $blog-width;

  @include docs-mobile {
    max-width: $content-width;
  }

  // Links
  a {
    color: $color-red;
  }

  a:hover {
    color: white;
    background-color: $color-red;
  }

  a.is-image {
    color: inherit;
  }
  a.is-image:hover {
    color: inherit;
    background-color: transparent;
  }

  h3 {
    margin-top: $spacing-unit * 1.5;
  }

  figure {
    margin: 0;
    padding: 0;
  }
}
