.body--docs {
  @include docs-mobile {  
    padding: 0;
  }
}

.Docs-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
  
  @include docs-mobile {
  }
}

.Docs-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-unit * 2;
}

.Docs-search-input {
  font-size: 16px;
}


.Docs-body {
  display: flex;
  gap: $spacing-unit;

  @include docs-mobile {
    flex-direction: column;
  }
}


.Docs-nav {
  @include docs-mobile {
    background-color: $color-white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.Docs-nav-list {
  display: flex;
  list-style: none;

  li + li {
    margin-left: $spacing-unit * 1.5;
  }
}

.Docs-nav-link {

}


// Sidebar Navigation
// --------------------------------------------------

.Docs-subnav-accordion {
}

.Docs-subnav-accordion__title {
  // Override js-accordion styles 
  display: block !important;
  padding: 0 !important;
}

.Docs-subnav-title {
  background-color: $tilt2-color-gray-lightest;
}

.Docs-subnav-section {
  margin: 0; // Reset dd style
}

.Docs-subnav-accordion__header {
  // js-accordion adds a <button>
  @include reset-button-style;
  cursor: pointer;
  padding-top: $spacing-unit * 0.25;
  padding-bottom: $spacing-unit * 0.25;
  padding-left: $spacing-unit * 0.5;
  padding-right: $spacing-unit * 0.5;
  width: 100%;
}

.Docs-subnav-accordion__panel {
  max-height: 1000px; // Arbitrary height that hopefully won't clip any content
  transition: max-height $anim-duration ease;
  overflow: hidden;
}
.Docs-subnav-accordion__panel[aria-hidden=true] {
  max-height: 0;
}

.Docs-subnav-accordion__panel[aria-expanded="true"]::after {
  content: "-";
}

.Docs-subnav-accordion__panel[aria-expanded="false"]::after {
  content: "+";
}

.Docs-subnav-list {
  list-style: none;

  li + li {
    border-top: 1px solid $tilt2-color-gray-lightest;
  }
}

.Docs-subnav-link {
  display: block;
  color: $tilt2-color-text;
  padding-top: $spacing-unit * 0.5;
  padding-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
  padding-right: $spacing-unit * 0.5;

  &.is-active {
    font-weight: $tilt2-font-weight-sans-bold;
  }
}







.Docs-content {
  display: block;
  flex: 1 0 $docs-width;
  max-width: $docs-width;
  // needed to prevent child <pre> elements from expanding forever
  // and causing wrapping problems
  min-width: 0;

  @include docs-mobile {
    max-width: 100%;
    // Parent body--docs has no padding on mobile (so menu can be full-width)
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
}



// Typography
// --------------------------------------------------

.Docs-content-title {
  h1 {
    font-weight: $tilt2-font-weight-sans-black;
    font-size: 38px;
    line-height: 1.4;
    color: $color-red;
  } 
  h2 {
    font-weight: $tilt2-font-weight-sans-light;
    margin-top: $spacing-unit * 0.25;
    font-size: 20px;
  }
} 

.Docs-content > h2,
.Docs-content > h2 a {
  font-weight: $tilt2-font-weight-sans-bold;
  font-size: 28px;
  margin-top: $spacing-unit * 1.75;
  color: $color-blue;
}

.Docs-content > h3,
.Docs-content > h3 a {
  margin-top: $spacing-unit * 1.5;
  color: $text-color;
}

.Docs-content h2 a:hover:before {
  content: "🔗 ";
  position: absolute;
  margin-left: -$spacing-unit;
  margin-top: 4px; // Visually center
  font-size: 80%;
}


.Docs-content a {
  color: $tilt2-color-text;
  text-decoration: underline;
}
.Docs-content a:hover {
  text-decoration: underline;
}

// Cute callouts!
.Docs-content > blockquote {
  font-family: $tilt2-font-serif;
  line-height: $tilt2-line-height-body-serif;
  margin-top: $spacing-unit * 1.5;
  margin-bottom: $spacing-unit * 1.5;
  background-color: #EEFCEF; // Very light variant of green, one-off
  border-radius: 10px;
  padding: $spacing-unit;

  // Everything inside is automatically wrapped in <p>
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}


// Bulleted or numbered lists in text (vs as layout)
.Docs-content > ul,
.Docs-content > ol {
  margin-top: $spacing-unit * 0.5;
  margin-bottom: $spacing-unit * 0.5;

  li {
    margin-left: $spacing-unit * 1.5;
  }

  li + li {
    margin-top: $spacing-unit * .25;
  }
}


.docsFooter {
  margin-top: 1rem;
  font-family: $chrome-font-family;
  font-size: 16px;
  line-height: normal;
  font-weight: $chrome-font-weight;

  a {
    padding: $spacing-unit / 4;
  }
}

.Docs-content img {
  max-width: $docs-width;
  // box-sizing: content-box;

  @include docs-mobile {
    max-width: 100%;
  }

}



// Page Elements
// --------------------------------------------------

.Docs-video {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  iframe {
    width: 100%;
  }
}

// Deprecated now that images don't have shadows by default:
img.no-shadow {
  box-shadow: none;
}

.Docs-content figcaption {
  margin: $spacing-unit / 4 $spacing-unit;
}


.bleedingLink {
  color: $text-color;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

.bleedingLink-text {
  color: $color-red;
  transition: color 0.2s, background-color 0.2s;
}

.bleedingLink:hover,
.bleedingLink:hover .bleedingLink-text {
  text-decoration: none;
  color: white;
  background-color: $color-red;
}



// PAGE-SPECIFIC
// --------------------------------------------------

table.benchmark-report {
  margin: $spacing-unit;
  border-spacing: 0;
  thead th {
    border-bottom: 1px solid black;
  }

  th, td {
    padding: $spacing-unit / 4;
    text-align: center;
    min-width: $spacing-unit * 4;
  }

  // keep footnotes from messing up alignment of text in cells
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }
}


// A link that follows a paragraphy introducing it:
a.attached-above {
  font-weight: $tilt2-font-weight-sans-bold;
  display: inline-block;
  margin-bottom: $spacing-unit;
}
a.attached-above:before {
  content: "➤ ";
  color: $tilt2-color-gray-lighter;
}

// Guide for Application Developers
.supportingExampleImage {
}