.Docs-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: $spacing-unit * 2;
  @include shadow;
}

.Docs-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.body--docs {
  .page-content {
    // default layout includes excessive top padding
    padding-top: 0;
  }
}
