.Docs-wrapper {
  display: flex;
  flex-direction: column;
  padding: $spacing-unit * 2;

  @include docs-mobile {
    display: block;
    max-width: $content-width;
  }
}

.Docs-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-unit * 2;
}

.Docs-search-input {
  font-size: 16px;
}



.Docs-body {
  display: flex;
  gap: $spacing-unit;
}

.Docs-nav {}

.Docs-nav-list {
  display: flex;
}

.Docs-nav-link {

}



.Docs-content {
  display: block;
  flex: 1 0 $docs-width;
  // needed to prevent child <pre> elements from expanding forever
  // and causing wrapping problems
  min-width: 0;

  @include docs-mobile {
    max-width: 100%;
  }
}



// Typography
// --------------------------------------------------


.Docs-content > h1 {
  font-size: 40px;
  line-height: 1.4;
  color: $color-red;
}

.Docs-content > h2,
.Docs-content > h2 a {
  margin-top: $spacing-unit * 1.75;
  color: $color-blue;
}

.Docs-content > h3 {
  margin-top: $spacing-unit * 1.5;
}

.Docs-content h2 a:hover:before {
  content: "🔗 ";
  position: absolute;
  margin-left: -1.25em;
  font-size: 75%;
}


// Cute callouts!
.Docs-content > blockquote {
  font-family: $tilt2-font-serif;
  margin-top: $spacing-unit * 1.5;
  margin-bottom: $spacing-unit * 1.5;
  background-color: #EEFCEF; // Very light variant of green, one-off
  border-radius: 10px;
  padding: $spacing-unit;

  // Everything inside is automatically wrapped in <p>
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.Docs-content > ul,
.Docs-content > ol {
  margin-left: $spacing-unit * 1.5;
  margin-top: $spacing-unit * 0.5;
  margin-bottom: $spacing-unit * 0.5;
}



.docsFooter {
  margin-top: 1rem;
  font-family: $chrome-font-family;
  font-size: 16px;
  line-height: normal;
  font-weight: $chrome-font-weight;

  a {
    padding: $spacing-unit / 4;
  }
}

.Docs-content img {
  box-shadow: 4px 5px 8px 8px $color-grey-lightest;
  margin: $spacing-unit * 0.5 $spacing-unit;
  max-width: $docs-width - 2 * $spacing-unit;
  box-sizing: content-box;
}
.Docs-content figcaption {
  margin: $spacing-unit / 4 $spacing-unit;
}


.Docs-content img, {
  @include mobile {
    max-width: 100%;
  }
}


.body--docs {
  .page-content {
    // default layout includes excessive top padding
    padding-top: 0;
  }
}


.bleedingLink {
  color: $text-color;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
}

.bleedingLink-text {
  color: $color-red;
  transition: color 0.2s, background-color 0.2s;
}

.bleedingLink:hover,
.bleedingLink:hover .bleedingLink-text {
  text-decoration: none;
  color: white;
  background-color: $color-red;
}




// PAGE-SPECIFIC
// --------------------------------------------------


table.benchmark-report {
  margin: $spacing-unit;
  border-spacing: 0;
  thead th {
    border-bottom: 1px solid black;
  }

  th, td {
    padding: $spacing-unit / 4;
    text-align: center;
    min-width: $spacing-unit * 4;
  }

  // keep footnotes from messing up alignment of text in cells
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }
}

a.attached-above {
  display: block;
  text-indent: 2em;
  font-weight: bold;
  margin-top: - $spacing-unit / 2
}
