.wrapper--enterprise {
  width: 100%;
  max-width: $tilt2-page-width;
}

// Hero --------------------------------------------------
.Enterprise-heroTitle {
  @include font-hero;    
}
.Enterprise-hero {
  margin-bottom: $spacing-unit;

  @include mobileAndAbove {
    display: flex;
    margin-bottom: $spacing-unit * 2;
  }
}
.Enterprise-hero-text {
  @include mobileAndAbove {
    flex: 1;
  }
}
.Enterprise-hero-text-subhead {
  @include font-hero-subhead;
  margin-bottom: $spacing-unit;
}
.Enterprise-hero-text-detail {
  @include mobileAndAbove {
    display: flex;
  }

  p {
    @include font-body;
    
    @include mobileAndAbove {
      margin-right: $spacing-unit * 2;
    }
  }
}
.Enterprise-hero-cta {
  @include mobileAndAbove {
    margin-left: $spacing-unit * 2;
  }
}
.Enterprise-hero-cta-title {
  @include font-heading-small;
}
.calendly-inline-widget {
  width: 320px;
  height: 600px;
}

.Enterprise-sectionHeading {
  @include font-heading;
}

.Enterprise-featureList {
  @include reset-list-style;
  margin-bottom: $spacing-unit;

  @include mobileAndAbove {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $spacing-unit;
    margin-bottom: $spacing-unit * 2;
  }
}

.Enterprise-featureItem-title {
  @include font-heading-small;
}
.Enterprise-featureItem-text {
  @include font-body;
}