.siteFooter2 {
  width: 100%;
  display: none;
  margin-right: auto;
  margin-left: auto;
  
  @include mobileAndAbove {
    max-width: $tilt2-footer-width;
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }
}
body.is-footer2 .siteFooter2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siteFooter2-links {
  display: flex;

  @include mobileAndBelow {
    flex-direction: column;
  }
  @include mobileAndAbove {
    margin-bottom: $spacing-unit;
  }
}
.siteFooter2-links-navList {
  @include reset-list-style;
  display: flex;
  align-items: center;

  @include mobileAndBelow {
    margin-bottom: $spacing-unit / 2;
  }
}
.siteFooter2-links-navItem {
  & + & {
    margin-left: $spacing-unit / 4;

    @include mobileAndAbove {
      margin-left: $spacing-unit / 2;
    }
  }
}
.siteFooter2-links-navLink {
  font-family: $tilt2-font-sans;
  font-size: $tilt2-button-font-size--small;
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  height: $tilt2-button-height--small;
  line-height: $tilt2-button-height--small;
  border-radius: $tilt2-border-radius;
  color: $tilt2-color-gray;
  display: flex;
  justify-content: center;
  border: 1px solid $tilt2-color-gray;
  
  &:hover {
    color: $color-white;
    background-color: $tilt2-color-gray;
  }

  &--primary {
    color: $color-green;

    &:hover {
      color: $color-white;
      background-color: $color-green;
    }

    @include mobileAndAbove {
      border-color: $color-green;
    }
  }

  &--github {
    color: $tilt2-color-gray;
    border-color: $tilt2-color-gray-lighter;
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;

    &:hover {
      color: $color-white;
      background-color: $tilt2-color-gray;
    }
  }
}

.siteHeader2-navLink-divider {
  border-right: 1px solid $tilt2-color-gray-lighter;
  margin-right:  $spacing-unit / 4;
}

.siteFooter2-links-navLink-svg {  
  fill: $color-yellow;
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;

  .siteFooter2-links-navLink--github:hover & {
    fill: $color-white;
  }
}


.siteFooter2-links-socialList {
  @include reset-list-style;
  display: flex;
  align-items: center;
  
  @include mobileAndBelow {
    margin-bottom: $spacing-unit / 2;
  }
  @include mobileAndAbove {
    margin-left: $spacing-unit;
  }
}
.siteFooter2-links-socialLink {
  &:hover {
    background-color: transparent;
  }
}
.siteFooter2-links-socialItem {
  & + & {
    margin-left: $spacing-unit / 2;
  }
}
.siteFooter2-links-socialLink-svg {
  fill: $tilt2-color-gray-lighter;
  width: 40px;
  height: auto;

  .siteFooter2-links-socialLink:hover & {
    fill: $color-blue;
  }

  // Make these two look similar in size:
  &--twitter { width: 32px; stroke: transparent;}
  &--slack { width: 26px; }
}


.siteFooter2-about {
  @include font-body-small;
  display: flex;
  align-items: center;
}
.siteFooter2-about-cloud {
  font-size: 24px; // Eyeballed to match size 
  padding-left: $spacing-unit / 4;
}