@charset "utf-8";

/* Animation effects */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.headerLink svg,
.headerLink path,
.headerLink g {
  animation-fill-mode: forwards;
}

.headerLink--logo-imagemark svg {
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}
.headerLink--logo-imagemark:hover svg {
  animation-name: spin;
}
.siteNav-popout .headerLink--logo-imagemark:hover svg {
  animation-name: none;
}

@keyframes dots-fade-in-3of3 {
 0% {fill: $color-red;}
 66.67% {fill: $color-red;}
 85.71% {fill: white; }
 100% {fill: white;}
}
@keyframes dots-fade-in-2of3 {
  0% {fill: $color-red;}
  38.10% {fill: $color-red;}
  57.14% {fill: white;}
  100% {fill: white;}
}
@keyframes dots-fade-in-1of3{
  0% {fill: $color-red;}
  4.76% {fill: $color-red;}
 28.57% {fill: white;}
 100% {fill: white;}
}

.headerLink--contact-anim path {
  animation-duration: 0.7s;
}
.headerLink--contact-anim:hover .dot1 {
  animation-name: dots-fade-in-1of3;
}
.headerLink--contact-anim:hover .dot2 {
  animation-name: dots-fade-in-2of3;
}
.headerLink--contact-anim:hover .dot3 {
  animation-name: dots-fade-in-3of3;
}

@keyframes docs-fade-in-1of4 {
  0% { fill: $color-red; }
  3.33% { fill: $color-red; }
  40% { fill: white; }
  100% { fill: white; }
}
@keyframes docs-fade-in-2of4 {
  0% { fill: $color-red; }
  23.33% { fill: $color-red; }
  56.67% { fill: white; }
  100% { fill: white; }
}
@keyframes docs-fade-in-3of4 {
  0% { fill: $color-red; }
  40% { fill: $color-red; }
  73.33% { fill: white; }
  100% { fill: white; }
}
@keyframes docs-fade-in-4of4 {
  0% { fill: $color-red; }
  56.67% { fill: $color-red; }
  83.33% { fill: white; }
  100% { fill: white; }
}

.headerLink--docs-anim path {
  animation-duration: 1s;
}
.headerLink--docs-anim:hover .part1 {
  animation-name: docs-fade-in-1of4;
}
.headerLink--docs-anim:hover .part2 {
  animation-name: docs-fade-in-2of4;
}
.headerLink--docs-anim:hover .part3 {
  animation-name: docs-fade-in-3of4;
}
.headerLink--docs-anim:hover .part4 {
  animation-name: docs-fade-in-4of4;
}

.imageLink--logo-wordmark-anim .notch {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
}
.imageLink--logo-wordmark-anim .notch--1 {
  transition-delay: 0.1s;
  transform: translate(568.0799865722656px, 30.780078895390034px) rotate(0deg) translate(-568.0799865722656px, -30.780078895390034px);
}
.imageLink--logo-wordmark-anim:hover .notch--1 {
  transform: translate(568.0799865722656px, 30.780078895390034px) rotate(90deg) translate(-568.0799865722656px, -30.780078895390034px);
}
.imageLink--logo-wordmark-anim .notch--2 {
  transition-delay: 0.06s;
  transform: translate(31.439985513687134px, 30.77007481828332px) rotate(0deg) translate(-31.439985513687134px, -30.77007481828332px);
}
.imageLink--logo-wordmark-anim:hover .notch--2 {
  transform: translate(31.439985513687134px, 30.77007481828332px) rotate(-90deg) translate(-31.439985513687134px, -30.77007481828332px);
}
.imageLink--logo-wordmark-anim .notch--3 {
  transition-delay: 0.13s;
  transform: translate(238.06499481201172px, 30.77007481828332px) rotate(0deg) translate(-238.06499481201172px, -30.77007481828332px);
}
.imageLink--logo-wordmark-anim:hover .notch--3 {
  transform: translate(238.06499481201172px, 30.77007481828332px) rotate(90deg) translate(-238.06499481201172px, -30.77007481828332px);;
}
.imageLink--logo-wordmark-anim .notch--4 {
  transition-delay: 0.03s;
  transform: translate(405.0400085449219px, 169.33999633789062px) rotate(0deg) translate(-405.0400085449219px, -169.33999633789062px);
}
.imageLink--logo-wordmark-anim:hover .notch--4 {
  transform: translate(405.0400085449219px, 169.33999633789062px) rotate(-90deg) translate(-405.0400085449219px, -169.33999633789062px);
}
