.siteHeader2 {
  display: flex;
  margin-right: $spacing-unit;
  margin-left: $spacing-unit;

  @include mobileAndAbove {
    padding-top: $spacing-unit * 1;
    padding-bottom: 0;
  }
}

.siteHeader-logoLink {
  opacity: 1;
  transition: opacity $anim-duration-short ease;

  &:hover {
    background-color: transparent;
  }
  &:active {
    opacity: 0.8;
  }
}
.siteHeader-logoLink-svg {
    transition: transform $anim-duration ease-in-out;

  .siteHeader-logoLink:hover & {
    transform: scale(1.05);
  }
}

.siteHeader-nav {
  @include mobileAndAbove {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
  }
}

.siteHeader-navList {
  list-style-type: none;
  margin-bottom: 0; 

  @include mobileAndAbove {
    display: flex;
    justify-content: flex-end;

    li + li {
      margin-left: $spacing-unit / 4;
    }
  }
}

.siteHeader-navLink {
  font-family: $tilt2-font-sans;
  font-size: $tilt2-button-font-size; 
  height: $tilt2-button-height;
  line-height: $tilt2-button-height;
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  border-radius: $tilt2-border-radius;
  color: $tilt2-color-gray;
  display: flex;
  justify-content: center;
  border: 1px solid $tilt2-color-gray;
  
  &:hover {
    color: $color-white;
    background-color: $tilt2-color-gray;
  }
}

.siteHeader-navLink--primary {
  color: $color-green;
  border-color: $color-green;

  &:hover {
    color: $color-white;
    background-color: $color-green;
  }
}

.siteHeader-navLink--github {
  color: $tilt2-color-gray;
  border-color: $tilt2-color-gray-lighter;
  margin-left: $spacing-unit / 2;
  margin-right: $spacing-unit / 2;

  &:hover {
    color: $color-white;
    background-color: $tilt2-color-gray;
  }
}


.siteHeader-navLink-icon {
  border-right: 1px solid $tilt2-color-gray-lighter;
  margin-right:  $spacing-unit / 4;
}

.siteHeader-navLink {
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  
  .fillStd {
    fill: $color-yellow;
  }
}

// --------------------------------------------------
// MOBILE LAYOUT

.siteHeader2 {
  @include mobileAndBelow {
    height: 100px; // Push initial content below mobile nav
  }
}

.siteHeader-navList {
  @include mobileAndBelow {
    li + li {
      margin-top: $spacing-unit * 0.75;
    }
  }
}

.siteHeader-logoAndMenuButton {
  @include mobileAndBelow {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $color-white;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: $z-siteHeader--mobile;
  }
}
.siteHeader-logoLink-svg {
  @include mobileAndBelow {
    width: 85px; // Eyeballed
  }
}

.siteHeader-nav {
  @include mobileAndBelow {
    transform: translateY(-1000px); // Should be taller than any reasonable screen height
    transition: transform $anim-duration ease;
    opacity: 0;

    .siteHeader2.has-openMenu & {
      background-color: $color-white;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: $z-siteHeader-nav--mobile;
      transform: translateY(0);
      opacity: 1;
    }
  }
}


.siteHeader-menuButton {
  @include reset-button-style;
  cursor: pointer;
  
  @include mobileAndAbove {
    display: none;
  }

  .fillStd {
    fill: $tilt2-color-gray;
    transition: fill $anim-duration ease;
  }

  &:hover {
    .fillStd {
      fill: $color-blue;
    }
  }
}

.siteHeader-menuButton-close {
  display: none;
  .siteHeader2.has-openMenu & {
    display: inline;  
  }
}

.siteHeader-menuButton-menu {
  display: inline;
  .siteHeader2.has-openMenu & {
    display: none;
  }
}