.body--home2 {
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;

  @include mobileAndAbove {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.wrapper--home2 {
  width: 100%;
  max-width: $tilt2-page-width;
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-body;
  font-weight: $tilt2-font-weight-sans-light;
  line-height: $tilt2-line-height-body;
}

.Home2-sectionHeading {
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-heading;
  color: $tilt2-color-text;
  margin-bottom: $spacing-unit;
}

.Home2-subsectionHeading {
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-heading-small;
  color: $tilt2-color-gray;
  margin-bottom: $spacing-unit;
}
.Home2-subsectionHeading--resources {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit / 2;
}


// Hero --------------------------------------------------
.Home2-hero {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit;

  @include mobileAndBelow {
    flex-direction: column;
  }
  @include mobileAndAbove {
    margin-bottom: $spacing-unit * 2;
  }
}

.Home2-heroText {
  flex: 1;

  .Home2-heroText-title {
    font-family: inherit;
    font-size: $tilt2-font-size-hero-small;
    font-style: normal;
    font-weight: $tilt2-font-weight-sans-black;
    line-height: $tilt2-line-height-hero;
    color: $tilt2-color-text;
    
    @include mobileAndAbove {
      font-size: $tilt2-font-size-hero;
      max-width: 80%;
    }
  }

  .Home2-heroText-subtitle {
    font-weight: $tilt2-font-weight-sans-light;
    line-height: $tilt2-line-height-body-large;

    @include mobileAndAbove {
      font-size: $tilt2-font-size-body-large;
      max-width: 95%;
    }
  }
}

.Home2-heroText-subtitle-code {
  font-family: $tilt2-font-mono;
  font-size: inherit;
  background-color: $tilt2-color-gray-lightest;
  border: 1px solid $tilt2-color-gray-lighter;
  border-radius: $tilt2-border-radius;
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  line-height: 1;
}

.Home2-heroIllustration {
  width: 80%;
  max-width: 130px;
}


// CTA --------------------------------------------------
.Home2-cta {
  margin-bottom: $spacing-unit;

  @include mobileAndAbove {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-unit * 2;
  }
}

.Home2-cta-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  & + & {
    @include mobileAndAbove {
      margin-left: $spacing-unit;
    }
  }
}

.Home2-cta-button {
  background-color: transparent;
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-button-large;
  font-weight: $tilt2-font-weight-sans-bold;
  line-height: 1;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  border-radius: $tilt2-border-radius;
  border: 2px solid $tilt2-color-gray-lighter;
  color: $tilt2-color-gray;

  &:hover {
    color: $color-white;
    background-color: $tilt2-color-gray;
  }

}

.Home2-cta-button--primary {
  color: $color-green;
  border-color: $color-green;

  &:hover {
    color: $color-white;
    background-color: $color-green;
  }
}

.Home2-cta-option-text {
  margin-top: $spacing-unit / 4;
}

// Product --------------------------------------------------
.Home2-product {
  margin-bottom: $spacing-unit;
  
  @include mobileAndAbove {
    position: relative;
    margin-bottom: $spacing-unit * 2;
  }
}
.Home2-product-UI {
  @include mobileAndAbove {
    // Accomodate the shadow, making the width a bit wider than the page
    margin-left: -$spacing-unit * 1.5;
    margin-right: -$spacing-unit * 1.5;
  }
}
.Home2-product-Tiltfile {
  background-image: url('/assets/img/product-tiltfile.png');
  background-repeat: no-repeat;
  background-size: 100%;

  @include mobileAndAbove {
    position: absolute;
    top: 30%;
    right: -10%;
    width: 60%;
    max-width: 800px;
  }
}
.Home2-product-Tiltfile-imgPlaceholder {
  // Trick to set a minimum size for the element, with correct aspect ratio
  // https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size
  visibility: hidden;
  width: 100%;

  @include mobileAndBelow {
    display: none;
  }
}

.Home2-product-Tiltfile-code {
  font-family: $tilt2-font-mono;
  font-size: $tilt2-font-size-body;
  
  @include mobileAndAbove {
    position: absolute;
    left: $spacing-unit * 2;
    right: $spacing-unit * 2;
    top: $spacing-unit * 2;
    bottom: $spacing-unit * 2;
  }

  p {
    margin: 0;
    min-height: $spacing-unit / 2; // Preserve blank lines
  }
}

.tiltfile-comment {
  color: $tilt2-color-gray-lighter;
}
.tiltfile-arg {
  color: $color-blue;
}
.tiltfile-arg-value {
  color: $color-pink;
}

.Home2-product-caption {
  text-align: center;
}

// Features Intro --------------------------------------------------
.Home2-featuresIntro-text {
  font-size: $tilt2-font-size-hero-smallest;
  line-height: $tilt2-line-height-hero;
  font-weight: $tilt2-font-weight-sans-light;
  margin-bottom: $spacing-unit;
  
  @include mobileAndAbove {
    font-size: $tilt2-font-size-hero-small;
    margin-bottom: $spacing-unit * 2;
  }
}

.Home2-featuresIntro-text-button {
  @include reset-button-style;
  font-weight: inherit;
}


.Home2-featuresIntro-text-button--pillar1 {
  color: $color-pink;
}
.Home2-featuresIntro-text-button--pillar2 {
  color: $color-blue;
}
.Home2-featuresIntro-text-button--pillar3 {
  color: $color-purple;
}

// Features --------------------------------------------------
.Home2-features {
  margin-bottom: $spacing-unit;

  @include mobileAndAbove {
    display: flex;
    margin-bottom: $spacing-unit * 2;
  } 
}

.Home2-features-navList {
  @include reset-list-style;

  @include mobileAndBelow {
    display: none;
  }
  @include mobileAndAbove {
    flex: 1;
  }
}

.Home2-features-navItem-button {
  @include reset-button-style;
}

.Home2-features-navItem-button--pillar1 {
  color: $color-pink;

  &:hover {
    color: $color-white;
    background-color: $color-pink;
  }
}
.Home2-features-navItem-button--pillar2 {
  color: $color-blue;
  
  &:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}
.Home2-features-navItem-button--pillar3 {
  color: $color-purple;
  
  &:hover {
    color: $color-white;
    background-color: $color-purple;
  }
}

.Home2-features-contentList {
  @include reset-list-style;

  @include mobileAndAbove {
    flex: 2;
  }

  li + li {
    margin-top: $spacing-unit;
  }
}

.Home2-features-contentItem-title {
  @include reset-button-style;
  font-weight: $tilt2-font-weight-sans-bold;
}

// Testimonials --------------------------------------------------
.Home2-sectionHeading--testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Home2-testimonials-navList {
  display: flex;
  align-items: center;
  @include reset-list-style;
}
.Home2-testimonials-navItem {
  margin-left: $spacing-unit;
}
.Home2-testimonials-navItem-svg {
  fill: $tilt2-color-gray-lighter;
}
.Home2-testimonials-navItem-svg--clusterApi {
  width: 40px;
}

.Home2-testimonials {
  @include reset-list-style;
}

.Home2-testimonial {
  margin-bottom: $spacing-unit;
  background-color: $tilt2-color-off-white;
  border-radius: $tilt2-border-radius;
  border: 1px solid $tilt2-color-gray-lightest;
  color: $tilt2-color-gray;
  padding: $spacing-unit / 2;

  @include mobileAndAbove {
    display: grid;
    grid-template-columns: 1fr 7fr;
    column-gap: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit * 1.5;
  } 
}

.Home2-testimonial-profile {
  font-size: $tilt2-font-size-body-small;

  @include mobileAndBelow {
    display: flex;
    margin-bottom: $spacing-unit / 2;
  }
  @include mobileAndAbove {
    flex: 1;
  }
}

.Home2-testimonial-profile-photo {
  @include mobileAndBelow {
    flex: 1;
    padding-right: $spacing-unit / 2;
  }
  @include mobileAndAbove {
    margin-bottom: $spacing-unit / 4;
  }
}
.Home2-testimonial-profileInfo {
  @include mobileAndBelow {
    flex: 3;
  }
}
.Home2-testimonial-profileSocial {
}

.Home2-testimonial-profileInfo-name {
  font-weight: $tilt2-font-weight-sans-bold;
  margin-bottom: 0;
}
.Home2-testimonial-profileInfo-role {
  margin-bottom: $spacing-unit / 4;
}
.Home2-testimonial-profileSocial-link {
  & + & {
    margin-left: $spacing-unit / 2;
  }
  &:hover {
    background-color: transparent;
  }
}

.Home2-testimonial-content {  
  @include mobileAndAbove {
    flex: 6;
  }
}
 .Home2-testimonial-content-quote {
   font-family: $tilt2-font-serif;
   line-height: $tilt2-line-height-body-serif;
   margin-bottom: $spacing-unit;
   
   @include mobileAndAbove {
    font-size: $tilt2-font-size-body-serif;
   }
 }
 .Home2-testimonial-content-meta {
   font-size: $tilt2-font-size-body-small;
   line-height: $tilt2-line-height-body-serif;
   display: flex;
   align-items: flex-start;
   
   @include mobileAndAbove {
    align-items: center;
   }
}
.Home2-testimonial-content-meta-svg {
  margin-right: $spacing-unit / 2;
  max-width: 50px;
  fill: $tilt2-color-gray-lighter;
}
.Home2-testimonial-content-meta-text {
  margin: 0;
 }

// Resources --------------------------------------------------

.Home2-resources-list {
  @include reset-list-style;
  
  @include mobileAndAbove {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: $spacing-unit;
    row-gap: $spacing-unit;
  }
}
.Home2-resources-listItem {
  border: 1px solid $tilt2-color-gray-lightest;
  padding: $spacing-unit / 2;
  box-shadow: 0px 0px ($spacing-unit / 2) 0px rgba(180, 180, 180, $tilt2-alpha-transparent);
  border-radius: $tilt2-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Home2-resources-listItem-text {
  margin-bottom: $spacing-unit / 4;
}

.Home2-resources-icon {
  margin-right: $spacing-unit / 2;
}

.Home2-resources-button {
  @include reset-button-style;
  line-height: $tilt2-line-height-body;
  width: 100%;
}
.Home2-resources-link,
.Home2-resources-button {
  display: block;
  font-family: $tilt2-font-sans;
  font-weight: $tilt2-font-weight-sans-bold;
  font-size: $tilt2-font-size-body;
  line-height: $tilt2-line-height-body;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  border-radius: $tilt2-border-radius;
  border: 1px solid $color-blue;
  text-align: center;
  color: $color-blue;
  transition: color $anim-duration ease, 
    background-color $anim-duration ease;

  &:hover {
    color: $color-white;
    background-color: $color-blue;
  }
  &:active {
    background-color: $color-blue-light;
  }

  & + & {
    margin-top: $spacing-unit / 4;
  }
}
.Home2-resources-link-meta {
  font-weight: $tilt2-font-weight-sans-light;
}
.Home2-resources-label {
  font-size: $tilt2-font-size-body-small;
  font-weight: $tilt2-font-weight-sans-bold;
  margin-bottom: $spacing-unit / 4;
}
.Home2-resources-input {
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-body;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  width: 100%;
  margin-bottom: $spacing-unit / 4;

  &::placeholder {
    color: $tilt2-color-gray;
  }
}