.body--home2 {
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;

  @include mobileAndAbove {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.wrapper--home2 {
  width: 100%;
  max-width: $tilt2-page-width;
  font-family: $tilt2-font-sans;
}


// Hero --------------------------------------------------
.Home2-hero {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit;

  @include mobileAndBelow {
    flex-direction: column;
  }
  @include mobileAndAbove {
    margin-bottom: $spacing-unit * 2;
  }
}

.Home2-heroText {
  flex: 1;

  .Home2-heroText-title {
    font-family: inherit;
    font-size: $tilt2-font-size-hero-small;
    font-style: normal;
    font-weight: 900;
    line-height: 1.35;
    color: $tilt2-color-text;
    
    @include mobileAndAbove {
      font-size: $tilt2-font-size-hero;
      max-width: 80%;
    }
  }

  .Home2-heroText-subtitle {
    line-height: $tilt2-line-height-body-large;

    @include mobileAndAbove {
      font-size: $tilt2-font-size-body-large;
      max-width: 95%;
    }
  }
}

.Home2-heroText-subtitle-code {
  font-family: $tilt2-font-mono;
  font-size: inherit;
  background-color: $tilt2-color-gray-lightest;
  border: 1px solid $tilt2-color-gray-lighter;
  border-radius: $tilt2-border-radius;
  padding-left: $spacing-unit / 4;
  padding-right: $spacing-unit / 4;
  line-height: 1;
}

.Home2-heroIllustration {
  width: 80%;
  max-width: 130px;
}


// CTA --------------------------------------------------
.Home2-cta {
  margin-bottom: $spacing-unit;

  @include mobileAndAbove {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-unit * 2;
  }
}

.Home2-cta-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  & + & {
    @include mobileAndAbove {
      margin-left: $spacing-unit;
    }
  }
}

.Home2-cta-button {
  background-color: transparent;
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-button-large;
  font-weight: bold;
  line-height: 1;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  border-radius: $tilt2-border-radius;
  border: 2px solid $tilt2-color-gray-lighter;
  color: $tilt2-color-gray;

  &:hover {
    color: $tilt2-color-white;
    background-color: $tilt2-color-gray;
  }

}

.Home2-cta-button--primary {
  color: $color-green;
  border-color: $color-green;

  &:hover {
    color: $tilt2-color-white;
    background-color: $color-green;
  }
}

.Home2-cta-option-text {
  margin-top: $spacing-unit / 4;
}

// Product --------------------------------------------------
.Home2-product {
  position: relative;
  margin-bottom: $spacing-unit;

  @include mobileAndAbove {
    margin-bottom: $spacing-unit * 2;
  }
}
.Home2-product-UI {
  // Accomodate the shadow, making the width a bit wider than the page
  margin-left: -$spacing-unit * 1.5;
  margin-right: -$spacing-unit * 1.5;
}
.Home2-product-Tiltfile {
  position: absolute;
  top: 30%;
  right: -10%;
  background-image: url('/assets/img/product-tiltfile.png');
  background-repeat: no-repeat;
  background-size: 100%;

  @include mobileAndAbove {
    width: 60%;
    max-width: 800px;
  }
}
.Home2-product-Tiltfile-imgPlaceholder {
  // Trick to set a minimum size for the element, with correct aspect ratio
  // https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size
  visibility: hidden;
  width: 100%;
}

.Home2-product-Tiltfile-code {
  font-family: $tilt2-font-mono;
  font-size: $tilt2-font-size-body;
  position: absolute;
  left: $spacing-unit * 2;
  right: $spacing-unit * 2;
  top: $spacing-unit * 2;
  bottom: $spacing-unit * 2;

  p {
    margin: 0;
    min-height: $spacing-unit / 2;
  }
}

.tiltfile-comment {
  color: $tilt2-color-gray-lighter;
}
.tiltfile-arg {
  color: $color-blue;
}
.tiltfile-arg-value {
  color: $color-pink;
}

.Home2-product-caption {
  text-align: center;
}

// Features --------------------------------------------------
.Home2-features-menu {
  
}
.Home2-features-introText {
  font-size: $tilt2-font-size-hero-small;
}

.Home2-features-introText-pillar1 {
  color: $color-pink;
}
.Home2-features-introText-pillar2 {
  color: $color-blue;
}
.Home2-features-introText-pillar3 {
  color: $color-purple;
}

.Home2-features-link--pillar1 {
  color: $color-pink;
  background-color: $color-pink;
}
.Home2-features-link--pillar2 {
  color: $color-blue;
  background-color: $color-blue;
}
.Home2-features-link--pillar3 {
  color: $color-purple;
  background-color: $color-purple;
}

