@charset "utf-8";

.imageLink--logo-imagemark {
  padding-left: 32px;
  @include docs-mobile {
    padding-left: 0;
  }
}
.imageLink--logo-imagemark > svg {
  width: 50px;
  height: 50px;
}
.imageLink--logo-imagemark .fillStd {
  fill: $color-green;
}
.landingLogoHello {
  display: block;
  width: 100%;
  height: auto;
  max-width: 608px;
  margin-top: -1.5 * $spacing-unit;
  margin-bottom: 1.25 * $spacing-unit;
  @include docs-mobile {
    margin-top: 0;
  }
}
.landingLogoWordmark {
  display: block;
  width: 66%;
  height: auto;
  max-width: 435px;
  margin-bottom: 1.75 * $spacing-unit;
}


.wrapper--landing h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  font-family: $header-font-family;
  color: $color-blue;
}
.wrapper--landing h2.subtitle {
  color: $color-grey-dark;
}
.wrapper--landing .subtitleAside {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-family: $header-font-family;
  color: $color-grey-dark;
}
.wrapper--landing .subtitleAside > code {
  font-size: 16px;
}
.supportingExampleList {
  font-size: 28px;
  line-height: 132%;
  list-style-type: none;

  > li {
    margin-bottom: $spacing-unit / 2;
  }

  > li::before {
    content: "> ";
    margin-left: -1 * $spacing-unit;
    color: $color-grey;
    position: absolute;
  }
}
.wrapper--landing pre {
  margin-bottom: $spacing-unit / 4;
}
.detailBlock {
  font-size: 14px;
  line-height: 18px;
  color: $color-grey;
}
.detailBlock > a {
  color: $color-grey;
}
.detailBlock > a:hover {
  background: none;
  color: $color-grey-dark;
}
.supportingExampleColumns {
  list-style-type: none;
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: $color-blue;
  margin: 0;
  margin-bottom: $spacing-unit * 0.75;

  @include mobile {
    list-style-type: decimal;
    display: block;
  }
}
.supportingExampleColumns > li {
  display: inline-block;
  width: 33%;
  margin-left: 0;
  text-align: center;
  position: relative;

  @include mobile {
    display: list-item;
    width: 100%;
    text-align: left;
    margin-left: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
.supportingExampleColumns > li:first-child {
  text-align: left;
  margin-right: $spacing-unit;

  @include mobile {
    margin-right: 0;
  }
}
.supportingExampleColumns > li:last-child {
  text-align: right;
  margin-left: $spacing-unit;

  @include mobile {
    text-align: left;
    margin-left: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
.subArrow {
  position: absolute;
  top: 150%;

  @include mobile {
    display: none !important;
  }
}
.subArrow--1 {
  left: $spacing-unit / 2;
}
.subArrow--2 {
  right: 50%;
}
.subArrow--3 {
  right: $spacing-unit / 2;
}
.landingBlock {
  margin-top: 1.75 * $spacing-unit;
  margin-bottom: 1.75 * $spacing-unit;
  margin-left: 2 * $spacing-unit;
  margin-right: 2 * $spacing-unit;

  @include mobile {
    margin-left: 0;
    margin-right: 0;
  }
}
