@charset "utf-8";

html {
  max-width: 100%;
}

body {
  max-width: 100%;

  @include mobile {
    padding: 0 $spacing-unit / 2;
    overflow-x: hidden;
  }
}

iframe {
  @include mobile {
    max-width: 100%;
  }
}

/**
 * Site header
 */
.site-header {
  margin-top: $spacing-unit;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.siteNav-float {
  position: absolute;
  top: 0;
  right: $spacing-unit / 2;
  display: flex;
  text-align: right;
}

.siteNav-popout {
  display: none;
}

.siteNav.is-open .siteNav-popout {
  display: block;
}

.siteNav .svgButton--x {
  display: none;
}

.siteNav.is-open .svgButton--x {
  display: block;
}

.siteNav.is-open .svgButton--menu {
  display: none;
}

.site-footer {
  margin: auto;
  font-family: $chrome-font-family;
  font-size: $chrome-font-size;
  line-height: $chrome-line-height;
  font-weight: $chrome-font-weight;
  font-variant-ligatures: none;
  letter-spacing: 0;
  color: $color-grey-darkest;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $color-grey;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-title,
h1 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 32px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: $spacing-unit / 4;
  color: $color-grey-dark;
}

h2 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  letter-spacing: 0;
  margin-bottom: $spacing-unit;
  color: $color-blue;

  @include mobile {
    font-size: 28px;
    line-height: 35px;
  }
}

h3 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 24px;
  letter-spacing: 0;
  color: $color-blue;
  font-weight: 400;
  margin-bottom: $spacing-unit / 2;
  letter-spacing: 0;

  @include mobile {
    font-size: 22px;
    line-height: 28px;
  }
}

h4 {
  font-family: $header-font-family;
  font-variant-ligatures: none;
  font-size: 18px;
  line-height: normal;
  color: $color-blue;
  font-weight: 400;
  letter-spacing: 0;
}

label, .formItem-label {
  font-family: $body-font-family;
  font-size: 18px;
  line-height: normal;
  font-weight: 200;
  color: $color-grey;
}

.buttonLabel {
  font-family: $header-font-family;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  color: white;
  letter-spacing: 0.05em;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row--flexStart {
  justify-content: flex-start;
}

.col-1of4 {
  display: block;
  width: 100%;
  max-width: $col-1of4-width;
}

.col-1of3 {
  display: block;
  width: 100%;
  max-width: $col-1of3-width;

  @include media-query($content-width) {
    max-width: 45%;
  }
  @include media-query($col-2of3-width) {
    max-width: 100%;
  }
}

.col-3of4 {
  display: block;
  width: 100%;
  max-width: $col-3of4-width;
}

.col-1of2 {
  display: block;
  width: 100%;
  max-width: $col-1of2-width;
}

.block {
  display: block;
  margin: $spacing-unit * 1.5 0;
  text-align: center;
}

.u-blockTwoThirds {
  display: block;
  max-width: $col-3of4-width;
}

.imageLink,
.imageLink:hover {
  background-color: transparent;
}

.imageLink:hover svg,
.imageLink:hover svg path,
.imageButton:hover svg,
.imageButton:hover svg path {
  opacity: 1;
}

.headerLink {
  font-family: $chrome-font-family;
  font-size: $chrome-font-size;
  line-height: $chrome-line-height;
  font-weight: $chrome-font-weight;
  color: $color-grey;
  margin-left: 25px;
  display: block;
  text-align: center;
}

.headerLink--mobile {
  font-size: 16px;
  line-height: normal;
  margin: 0;
  min-width: 33%;
  margin-top: $spacing-unit;
}

.headerLink-text {
  display: block;
  margin: auto;
}

.headerLink:first-child {
  margin-left: 0;
}

.headerLink:hover,
.headerLink--mobile {
  color: $color-red;
}

.headerLink,
.headerLink:hover {
  background-color: transparent;
}

.headerLink svg {
  display: block;
  opacity: 0;
  width: 22px;
  height: 22px;
  margin: auto;
  margin-bottom: 6px;
}

.headerLink--mobile svg {
  width: $spacing-unit;
  height: $spacing-unit;
  animation: none;
}

.headerLink.headerLink--github path,
.headerLink.headerLink--docs path,
.headerLink.headerLink--medium path,
.headerLink.headerLink--contact path {
  fill: $color-red;
}

.headerLink:hover svg,
.headerLink:hover svg path,
.headerLink--mobile svg,
.headerLink--mobile svg path {
  opacity: 1;
}

.svgButton {
  display: inline-block;
  margin: auto;
  position: relative;
}

.svgButton a {
  display: block;
}

.svgButton button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.svgButton svg {
  fill: $brand-color;
  opacity: $opacity-light;
  min-width: 144px;
  height: 40px;
}

.svgButton--menu svg {
  min-width: 40px;
}

.svgButton--x svg {
  min-width: 0;
}

.svgButton--x {
  padding: 0 4px;
  width: 40px;
}

.svgButton-text {
  color: white;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

.h3-icon {
  margin-right: $spacing-unit/2;
  float: left;
}

.h4-icon {
  margin-right: $spacing-unit/2;
  float: left;
}

.bleedingLink {
  color: $text-color;
  text-decoration: none;
}

.bleedingLink-text {
  color: $color-red;
}

.bleedingLink:hover,
.bleedingLink:hover .bleedingLink-text {
  text-decoration: none;
  color: white;
  background-color: $color-red;
}

.footerIcon,
.footerIcon svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: $color-grey;
}

.footerIcon + .footerIcon {
  margin-left: $spacing-unit * 1/2;
}

.footerIcon:hover {
  background-color: transparent;
}

.footerIcon svg path {
  fill: $color-grey;
}

.footerIcon:hover svg,
.footerIcon:hover svg path {
  fill: $color-red;
}

.u-marginBottomUnit {
  margin-bottom: $spacing-unit !important;
}

.u-marginBottom0 {
  margin-bottom: $spacing-unit !important;
}

.u-marginTopUnit {
  margin-top: $spacing-unit !important;
}

.u-marginBottom2_5 {
  margin-bottom: $spacing-unit * 2.5 !important;
}

.u-marginBottom0_5 {
  margin-bottom: $spacing-unit * 0.5 !important;
}

.u-marginBottom1_5 {
  margin-bottom: $spacing-unit * 1.5 !important;
}

.u-marginBottom1_25 {
  margin-bottom: $spacing-unit * 1.25 !important;
}

.u-marginBottomUnitOnMobile {
  @include mobile {
    margin-bottom: $spacing-unit !important;
  }
}

.u-marginBottom0_75OnMobile {
  @include mobile {
    margin-bottom: $spacing-unit * 0.75 !important;
  }
}

.u-marginBottom1_75OnMobile {
  @include mobile {
    margin-bottom: $spacing-unit * 1.75 !important;
  }
}

.u-maxWidth100OnMobile {
  @include mobile {
    max-width: 100%;
  }
}

.u-textAlignCenter {
  text-align: center !important;
}

.u-boxShadow {
  box-shadow: 8px 10px 16px 16px $color-grey-lightest !important;
}

.u-padding16 {
  padding: 16px !important;
}

.u-fillRed {
  fill: $color-red !important;
}

.u-fillWhite {
  fill: white !important;
}

.u-fillGreen {
  fill: $color-green !important;
}

.u-fillGreenLightest {
  fill: $color-green-lightest !important;
}

.u-hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.u-showOnlyOnMobile {
  display: none !important;

  @include mobile {
    display: block !important;
  }
}

.u-minHeight72OnMobile {
  @include mobile {
    min-height: 72px;
  }
}

.bio {
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.bio-image {
  width: 224px;
  height: 176px;
  clip-path: polygon(13.17% 0.88%, 1.50% 9.96%, 0.00% 13.38%, 0.00% 97.19%, 2.21% 100.00%, 84.38% 100.00%, 86.83% 99.12%, 98.50% 90.04%, 100.00% 86.62%, 100.00% 2.81%, 97.79% 0.00%, 15.62% 0.00%, 13.17% 0.88%);
  object-fit: cover;
  margin-bottom: $spacing-unit/2;

  @include media-query($col-2of3-width) {
    width: auto;
    height: auto;
  }
}

.formItem {
  display: block;
  position: relative;
  padding-bottom: 1.25 * $spacing-unit;

  @include mobile {
    padding-bottom: $spacing-unit;
  }
}
.formItem label,
.formItem .formItem-label {
  display: block;
  padding-bottom: 9px;
}
.formItem input,
.formItem textarea {
  font-family: $body-font-family;
  font-weight: 200;
  font-size: 18px;
  padding: 0 $spacing-unit/4;
  background-color: $color-grey-lightest;
  border: none;
  line-height: 1.5 * $spacing-unit;
  width: 100%;
  max-width: $col-3of4-width;
}
.formItem-option {
  box-sizing: border-box;
  position: relative;
}
.formItem-option label {
  padding-top: 0.375 * $spacing-unit;
  cursor: pointer;
  color: $color-grey-dark;
  padding-left: 2 * $spacing-unit;
}
input[type=checkbox] {
  visibility: hidden;
  cursor: pointer;
  padding: 0;
  width: 0;
  height: 0;
}
.formItem-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: $spacing-unit * 1.5;
  height: $spacing-unit * 1.5;
  background-color: $color-grey-lightest;
  border-radius: $spacing-unit * 0.75;
  transition: background-color 0.2s ease-in-out;
  pointer-events: none;
}
input[type=checkbox]:checked + .formItem-checkbox {
  background-color: $color-green;
}
