/**
 * Site header
 */
.site-header {
  margin-top: $spacing-unit;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-nav {
  position: absolute;
  top: 0;
  right: $spacing-unit / 2;
  display: flex;
  text-align: right;
}

.site-footer {
  margin: auto;
  font-size: $small-font-size;
  line-height: $small-line-height;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $color-grey;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
h1 {
  color: $color-blue;
  font-size: 32px;
  line-height: normal;
  font-weight: 800;
  margin-bottom: $spacing-unit / 4;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  margin-bottom: $spacing-unit;
}

h3 {
  font-size: 24px;
  line-height: 20px;
  color: $color-blue;
  font-weight: 700;
  margin-bottom: $spacing-unit / 2;
}

h4 {
  font-size: 18px;
  line-height: normal;
  color: $color-blue;
  font-weight: 700;
}

label, .fontLabel {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: $color-grey;
  letter-spacing: 0.05em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1of4 {
  display: block;
  width: $col-1of4-width;
}

.col-3of4 {
  display: block;
  width: $col-3of4-width;
}

.col-1of2 {
  display: block;
  width: $col-1of2-width;
}

.block {
  display: block;
  margin: $spacing-unit * 1.5 0;
  text-align: center;
}

.u-blockTwoThirds {
  display: block;
  max-width: $col-3of4-width;
}

.imageLink,
.imageLink:hover {
  background-color: transparent;
}

.imageLink:hover svg,
.imageLink:hover svg path {
  opacity: 1;
}

.headerLink {
  color: $color-grey;
  margin-left: 25px;
  display: block;
  font-size: 12px;
  text-align: center;
}

.headerLink-text {
  display: block;
  margin: auto;
}

.headerLink:first-child {
  margin-left: 0;
}

.headerLink:hover {
  color: $color-red;
}

.headerLink,
.headerLink:hover {
  background-color: transparent;
}

.headerLink svg {
  display: block;
  opacity: 0;
  width: 22px;
  height: 22px;
  margin: auto;
}

.headerLink:not(.headerLink--logo-imagemark) svg,
.headerLink:not(.headerLink--logo-imagemark) svg path {
  fill: $color-red;
}

.headerLink:hover svg,
.headerLink:hover svg path {
  opacity: 1;
}

.svgButton {
  display: inline-block;
  margin: auto;
  position: relative;
}

.svgButton a {
  display: block;
}

.svgButton svg {
  fill: $brand-color;
  opacity: $opacity-light;
  width: 144px;
  height: 40px;
}

.svgButton-text {
  color: white;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

.h4-icon {
  margin-right: $spacing-unit/2;
  float: left;
}

.bleedingLink {
  color: $text-color;
  text-decoration: none;
}

.bleedingLink-text {
  color: $color-red;
}

.bleedingLink:hover,
.bleedingLink:hover .bleedingLink-text {
  text-decoration: none;
  color: white;
  background-color: $color-red;
}

.footerIcon,
.footerIcon svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: $color-grey;
}

.footerIcon + .footerIcon {
  margin-left: $spacing-unit * 1/2;
}

.footerIcon:hover {
  background-color: transparent;
}

.footerIcon svg path {
  fill: $color-grey;
}

.footerIcon:hover svg,
.footerIcon:hover svg path {
  fill: $color-red;
}

.u-marginBottomUnit {
  margin-bottom: $spacing-unit !important;
}

.u-marginBottom2_5 {
  margin-bottom: $spacing-unit * 2.5 !important;
}

.u-marginBottom1_5 {
  margin-bottom: $spacing-unit * 1.5 !important;
}

.u-textAlignCenter {
  text-align: center;
}
