/**
 * Site header
 */
.site-header {
  margin-top: $spacing-unit;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-nav {
  position: absolute;
  top: 0;
  right: $spacing-unit / 2;
  display: flex;
  text-align: right;
}

.site-footer {
  margin: auto;
  font-family: $chrome-font-family;
  font-size: $chrome-font-size;
  line-height: $chrome-line-height;
  font-weight: $chrome-font-weight;
  letter-spacing: 0;
  color: $color-grey-darkest;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $color-grey;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-title,
h1 {
  font-family: $header-font-family;
  font-size: 32px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: $spacing-unit / 4;
  color: $color-grey-dark;
}

h2 {
  font-family: $header-font-family;
  font-size: 32px;
  line-height: 40px;
  font-weight: 200;
  letter-spacing: 0;
  margin-bottom: $spacing-unit;
  color: $color-blue;
}

h3 {
  font-family: $header-font-family;
  font-size: 24px;
  letter-spacing: 0;
  color: $color-blue;
  font-weight: 400;
  margin-bottom: $spacing-unit / 2;
  letter-spacing: 0;
}

h4 {
  font-family: $header-font-family;
  font-size: 18px;
  line-height: normal;
  color: $color-blue;
  font-weight: 400;
  letter-spacing: 0;
}

label, .formItem-label {
  font-family: $body-font-family;
  font-size: 18px;
  line-height: normal;
  font-weight: 200;
  color: $color-grey;
}

.buttonLabel {
  font-family: $header-font-family;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  color: white;
  letter-spacing: 0.05em;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-1of4 {
  display: block;
  width: $col-1of4-width;
}

.col-1of3 {
  display: block;
  width: 224px;
}

.col-3of4 {
  display: block;
  width: $col-3of4-width;
}

.col-1of2 {
  display: block;
  width: $col-1of2-width;
}

.block {
  display: block;
  margin: $spacing-unit * 1.5 0;
  text-align: center;
}

.u-blockTwoThirds {
  display: block;
  max-width: $col-3of4-width;
}

.imageLink,
.imageLink:hover {
  background-color: transparent;
}

.imageLink:hover svg,
.imageLink:hover svg path,
.imageButton:hover svg,
.imageButton:hover svg path {
  opacity: 1;
}

.headerLink {
  font-family: $chrome-font-family;
  font-size: $chrome-font-size;
  line-height: $chrome-line-height;
  font-weight: $chrome-font-weight;
  color: $color-grey;
  margin-left: 25px;
  display: block;
  text-align: center;
}

.headerLink-text {
  display: block;
  margin: auto;
}

.headerLink:first-child {
  margin-left: 0;
}

.headerLink:hover {
  color: $color-red;
}

.headerLink,
.headerLink:hover {
  background-color: transparent;
}

.headerLink svg {
  display: block;
  opacity: 0;
  width: 22px;
  height: 22px;
  margin: auto;
}

.headerLink.headerLink--github path,
.headerLink.headerLink--docs path,
.headerLink.headerLink--medium path {
  fill: $color-red;
}

.headerLink:hover svg,
.headerLink:hover svg path {
  opacity: 1;
}

.svgButton {
  display: inline-block;
  margin: auto;
  position: relative;
}

.svgButton a {
  display: block;
}

.svgButton button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.svgButton svg {
  fill: $brand-color;
  opacity: $opacity-light;
  width: 144px;
  height: 40px;
}

.svgButton-text {
  color: white;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
}

.h4-icon {
  margin-right: $spacing-unit/2;
  float: left;
}

.bleedingLink {
  color: $text-color;
  text-decoration: none;
}

.bleedingLink-text {
  color: $color-red;
}

.bleedingLink:hover,
.bleedingLink:hover .bleedingLink-text {
  text-decoration: none;
  color: white;
  background-color: $color-red;
}

.footerIcon,
.footerIcon svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: $color-grey;
}

.footerIcon + .footerIcon {
  margin-left: $spacing-unit * 1/2;
}

.footerIcon:hover {
  background-color: transparent;
}

.footerIcon svg path {
  fill: $color-grey;
}

.footerIcon:hover svg,
.footerIcon:hover svg path {
  fill: $color-red;
}

.u-marginBottomUnit {
  margin-bottom: $spacing-unit !important;
}

.u-marginBottom2_5 {
  margin-bottom: $spacing-unit * 2.5 !important;
}

.u-marginBottom1_5 {
  margin-bottom: $spacing-unit * 1.5 !important;
}

.u-marginBottom1_25 {
  margin-bottom: $spacing-unit * 1.25 !important;
}

.u-textAlignCenter {
  text-align: center !important;
}

.u-boxShadow {
  box-shadow: 8px 10px 16px 16px $color-grey-lightest !important;
}

.u-padding16 {
  padding: 16px !important;
}

.u-fillRed {
  fill: $color-red !important;
}

.u-fillWhite {
  fill: white !important;
}

.bio {
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.bio-image {
  width: 224px;
  height: 176px;
  clip-path: url(#mask);
  background-size: cover;
  margin-bottom: $spacing-unit/2;
}

.formItem {
  display: block;
  position: relative;
  padding-bottom: 1.25 * $spacing-unit;
}
.formItem label,
.formItem .formItem-label {
  display: block;
  padding-bottom: 9px;
}
.formItem input,
.formItem textarea {
  font-size: 18px;
  padding: 0 $spacing-unit/4;
  background-color: $color-grey-lightest;
  border: none;
  line-height: 1.5 * $spacing-unit;
  width: $col-3of4-width;
}
.formItem-option {
  box-sizing: border-box;
  position: relative;
  padding-left: 2 * $spacing-unit;
}
.formItem-option label {
  padding-top: 0.25 * $spacing-unit;
  cursor: pointer;
}
input[type=checkbox] {
  visibility: hidden;
  cursor: pointer;
  padding: 0;
}
input[type=checkbox]::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: $spacing-unit * 1.5;
  height: $spacing-unit * 1.5;
  background-color: $color-grey-lightest;
  border-radius: $spacing-unit * 0.75;
  content: " ";
  visibility: visible;
  transition: background-color 0.2s ease-in-out;
}
input[type=checkbox]:checked::before {
  background-color: $color-green;
}
