@charset "utf-8";

// Don't use pagefind's built-in form.
.pagefind-ui__form::before,
.pagefind-ui__search-input,
.pagefind-ui__search-clear
{
  display: none !important;
}

.pagefind-ui__result-title {
  font-size: $tilt2-font-size-body-serif !important;
  line-height: $tilt2-line-height-body-serif !important;
}
.pagefind-ui__result-excerpt {
  font-size: $tilt2-font-size-body !important;
  line-height: $tilt2-line-height-body !important;
}
