// (HY) The new layout has a subtly different color and font-size scale,
// so I'm creating a new set of vars instead of amending what's in tilt.scss
$tilt2-page-width: 1080px;
$tilt2-header-width: $tilt2-page-width;
$tilt2-footer-width: $tilt2-page-width;

$tilt2-color-off-white: #FAFBFC;
$tilt2-color-gray-lightest: #EEF1F1;
$tilt2-color-gray-lighter: #CCDADE;
$tilt2-color-gray: #586E75;
$tilt2-color-gray-dark: #073642;

$tilt2-alpha-transparent: 0.3;

$tilt2-color-text: $tilt2-color-gray-dark;


// TYPOGRAPHY
// --------------------------------------------------
$tilt2-font-sans: noto-sans, sans-serif;
$tilt2-font-serif: merriweather, serif;
$tilt2-font-mono: 'Fira Code', monospace;

$tilt2-font-weight-sans-light: 300;
$tilt2-font-weight-sans-bold: 700;
$tilt2-font-weight-sans-black: 900;

$tilt2-font-size-hero: 48px;
$tilt2-font-size-hero-small: 32px;
$tilt2-font-size-hero-smallest: 28px;
$tilt2-line-height-hero: 1.35;

$tilt2-font-size-heading: 28px;
$tilt2-font-size-heading-small: 24px;

$tilt2-font-size-body-small: 16px;
$tilt2-font-size-body: 18px;
$tilt2-font-size-body-large: 28px;
$tilt2-line-height-body: 1.4;
$tilt2-line-height-body-large: 1.45;

$tilt2-font-size-body-serif: 22px;
$tilt2-line-height-body-serif: 1.6;

$tilt2-button-font-size--large: 26px;
$tilt2-button-font-size: 14px;
$tilt2-button-font-size--small: 14px;
$tilt2-button-height--small: 26px;

$tilt2-border-radius: 2px;

@mixin button-small {
  font-size: $tilt2-button-font-size--small;
}

@mixin font-body-small {
  font-family: $tilt2-font-sans;
  font-size: $tilt2-font-size-body-small;
  font-weight: $tilt2-font-weight-sans-light;
  line-height: $tilt2-line-height-body;
}

@mixin reset-button-style {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: 0 none;
  text-align: left;
  padding: 0;
  margin: 0;
}

@mixin reset-list-style {
  list-style: none;
  margin: 0;
}