title: Tilt
email: hi@windmill.engineering
description: >-
  Local Kubernetes development with no stress
baseurl: ""
url: "https://tilt.build/"
twitter_username: windmill_eng
github_username:  windmilleng
google_analytics: UA-129150759-1

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
